.root {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 2px;
    background: var(--orienteed-primary-color-base2);
}

.root_absolute {
    composes: root;
    position: absolute;
    bottom: 0;
    left: 0;
}

.indicator_off {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: var(--orienteed-primary-color-base1);
    transform: translateX(-100%);
    transform-origin: left;
    transition: transform 0.25s linear;
}

.indicator_loading {
    composes: indicator_off;
    opacity: 1;
    transform: translateX(-25%);
}

.indicator_done {
    composes: indicator_off;
    opacity: 1;
    transform: translateX(0%);
}
