.root {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    text-align: center;
}

.emptyTitle {
    font-size: 1.5rem;
    line-height: 1.25;
    margin-bottom: 1.5rem;
}

.continue {
    composes: root from '../Button/button.css';
    color: white;
    background-color: rgb(var(--venia-teal));
}

.continue:hover {
    color: rgb(var(--venia-teal));
}
