.placeholderButton {
    text-align: center;
    margin: 1.5rem 0 1rem 0;
}

.root {
    /* This variable is also used by the payments form. */
    --minicart-footer-padding-bottom: 0.5rem;

    box-shadow: 0 -1px rgb(var(--venia-border));
    padding: 1.5rem 0 var(--minicart-footer-padding-bottom);
    background-color: white;
}

.root_open {
    composes: root;
    z-index: 3;
}
