.root {

}

.root ul {
    z-index: 3;
    position: absolute;
    right: 1em;
    box-shadow: 2px 2px 5px #777;
}

.dropdown {
    display: grid;
    position: absolute;
    right: 0;
    top: -2.5em;
    transition: all 0.25s ease-out;
    transform: scale(0);
    transform-origin: 100% 50%;
    align-items: center;

}

.dropdown.ul:hover {
    transform: scale(1);
}

.dropdown li {
    display: block;
    width: 100%;
    background-color: #FFF;
}

.dropdown li:hover {
    background-color: #EEE;
}

.dropdown li > a, button > div {
    width: 100%;
    padding: 8px;
    display: grid;
    grid-template-columns: 1fr 10fr;
    white-space: pre;
    box-sizing: border-box;
    text-align: left;
    align-items: center;
    justify-items: start;
    column-gap: 10px;
  }

.dropdown li {
    border-bottom: 1px solid rgb(var(--venia-border));
}

.active {
    position: absolute;
    transform: scale(1);
    transition: all 0.25s cubic-bezier(.5,1.8,.9,.8);
}

.text {
    padding-top: 3px;
    font-size: 14px;
}
