.root {
    position: relative;
    display: inline-block;

    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
    align-self: center;
}

.root ul {
    z-index: 3;
    position: absolute;
    right: 0.5em;
    box-shadow: 0 0 1px #999;
}

.kebab {
    outline: 0;
}

.dropdown {
    display: grid;
    position: absolute;
    right: 0;
    top: -2.5em;
    transition: all 0.25s ease-out;
    transform: scale(0);
    transform-origin: 100% 50%;
    align-items: center;
}

.dropdown.ul:hover {
    transform: scale(1);
}

.dropdown li {
    display: block;
    width: 100%;
    background-color: #FFF;
}

.dropdown li:hover {
    background-color: #EEE;
}

.dropdown li {
    border-bottom: 1px solid rgb(var(--venia-border));
}

.active {
    position: absolute;
    transform: scale(1);
    transition: all 0.25s cubic-bezier(.5,1.8,.9,.8);
}
