.root {
    align-content: start;
    background-color: white;
    bottom: 0;
    box-shadow: -1px 0 rgb(var(--venia-border));
    display: grid;
    grid-template-rows: min-content 1fr;
    height: 100vh;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    transform: translate3d(100%, 0, 0);
    transition-duration: 192ms;
    transition-property: opacity, transform, visibility;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    visibility: hidden;
    width: 360px;
    z-index: 4;
}

/* state: open */

.root_open {
    composes: root;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition-duration: 224ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    visibility: visible;
}

.body {
    overflow: auto;
}

.focusItem {
    display: block;
    box-shadow: 0 1px rgb(var(--venia-border));
    padding: 1rem;
}

.footer {
    box-shadow: 0 -1px rgb(var(--venia-border));
    padding: 1.5rem 0 0.5rem;
}

.header {
    align-content: center;
    align-items: center;
    background-color: rgb(var(--venia-grey));
    box-shadow: 0 1px rgb(var(--venia-border));
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    grid-auto-rows: 3rem;
    grid-template-columns: 1fr;
    height: 3.5rem;
    justify-content: end;
    padding: 0 1rem;
    position: relative;
    z-index: 1;
}

.options {
    padding: 1rem;
    font-weight: bold;
}

.price {
    float: right;
}

.title {
    align-items: center;
    display: inline-flex;
    font-size: 1rem;
    font-weight: 400;
    margin-right: auto;
    padding: 0;
    text-transform: uppercase;
}

.totals {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.save {
    justify-content: center;
    display: flex;
    padding: 1rem 0;
}

.save button {
    margin-right: 5px;
    margin-left: 5px;
}

.subtotalLabel {
    color: rgb(var(--venia-text-alt));
}

.subtotalValue {
    font-weight: 600;
    margin-left: 0.5rem;
}

.placeholderButton {
    text-align: center;
    margin: 1.5rem 0 1rem 0;
}
