.root {
    align-content: start;
    display: grid;
    grid-gap: 0.375rem 1rem;
    grid-template-areas:
        "image name"
        "image options"
        "image quantity";
    grid-template-columns: 80px 1fr;
    grid-template-rows: min-content minmax(54px, 1fr) min-content;
}

.image {
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px rgb(var(--venia-border));
    grid-area: image;
    height: 100px;
    width: 80px;
}

.name {
    font-size: 0.875rem;
    font-weight: 600;
    grid-area: name;
    padding-top: 0.125rem;
}

.options {
    display: grid;
    font-size: 13px;
    grid-area: options;
    grid-auto-rows: min-content;
    grid-gap: 0 0.5rem;
    grid-template-columns: min-content 1fr;
    justify-items: start;
    line-height: 1.5;
    margin: 0;
}

.optionName {
    color: rgb(var(--venia-text-alt));
    grid-column: 1 / span 1;
}

.optionValue {
    grid-column: 2 / span 1;
}

.quantity {
    align-items: center;
    display: flex;
    font-size: 13px;
}

.quantityOperator {
    align-items: center;
    color: rgb(var(--venia-text-alt));
    display: inline-flex;
    margin: 0 0.375rem;
}

.price {
    align-items: center;
    display: inline-flex;
}
