.menuItem button {
    width: 100%;
    padding: 0.6rem;
    padding-right: 1.6rem;
    padding-bottom: 0.72rem;
    display: flex;
    white-space: pre;
    box-sizing: border-box;
    text-align: left;
    align-items: center;
    justify-items: start;
    column-gap: 0.7rem;
}

.text {
    padding-top: 1px;
    padding-left: 0.4rem;
    font-size: 11px;
}
