.text {
    padding-top: 2px;
    padding-left: 6px;
    font-size: 11px;
}

li > button {
    width: 100%;
    padding: 10px;
    padding-right: 25px;
    padding-bottom: 11px;
    display: flex;
    grid-template-columns: min-content;
    white-space: pre;
    box-sizing: border-box;
    text-align: left;
    align-items: center;
    justify-items: start;
    column-gap: 10px;
}
