:root {
    --venia-notification-height: 3.5rem;
}
.root {
    align-items: center;
    display: inline-flex;
    font-size: 0.9em;
    height: var(--venia-notification-height);
    justify-content: flex-start;
    margin-bottom: 0.3em;
    overflow: hidden;
    padding: 0 0.6rem;
    text-align: left;
    top: 0;
    transform: translateY(calc(-1 * var(--venia-notification-height)));
    transition: transform 250ms;
    width: 100%;
    -webkit-appearance: none;
}

.clickable {
    cursor: pointer;
}

.showing {
    transform: translateY(0px);
}

.error {
    background-color: rgb(var(--venia-error-alt));
}

/**
 * TODO: Descendent selector here relies on implementation of Icon component.
 * Replace with a real classname to be passed to the Icon (which will be easier
 * when src/classify is improved to do proper composition.
 */

.error span {
    color: rgb(var(--venia-error));
}

.warning {
    background-color: rgb(var(--venia-warning-light));
}

.warning span {
    color: rgb(var(--venia-warning-dark));
}

.success {
    background-color: rgb(var(--venia-teal-light));
}

.success span {
    color: rgb(var(--venia-teal));
}

.message {
    line-height: 1.3em;
    margin: 0 0.6rem 0 0.8rem;
    /* Set a min-width so text elements inside must overflow, not stretch */
    min-width: 0;
}
