.root {
    display: flex;
    width: 100%;
    border: 1px solid rgb(var(--venia-border));
}

.buttonContent {
    display: flex;
    align-items: center;
}

.buttonGroupItem {
    flex: 1 1 0;
    padding: 0.5rem 0 0.5rem 0.75rem;
    font-size: 0.625rem;
    font-weight: 600;
    line-height: 0.625rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.buttonGroupItem:not(:first-child) {
    border-left: 1px solid rgb(var(--venia-border));
}

.iconContainer {
    color: rgb(var(--venia-teal));
    margin-right: 0.5rem;
}

.textNodeContiner {
    color: rgb(var(--venia-black));
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
