.root {
    align-content: start;
    display: grid;
    border-radius: 0.375rem;
}

.root_disabled {
    composes: root;
    opacity: 0.5;
}

.name {
    font-size: var(--venia-typography-detail-XL-fontSize);
    font-weight: var(--venia-global-fontWeight-semibold);
}

.detail {
    color: rgb(var(--venia-global-color-text-alt));
    font-size: var(--venia-typography-detail-L-fontSize);
}

.option {
    composes: detail;
}

.outOfStock {
    color: rgb(var(--venia-global-color-error));
    font-size: var(--venia-typography-detail-L-fontSize);
}

.priceContainer {
    font-size: var(--venia-typography-detail-XL-fontSize);
}

.optionsContainer {
    min-height: 100px;
    display: grid;
    margin: 2% 0;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.image_disabled {
    composes: image;
    opacity: 0.6;
}

.addToCart {
    composes: root_highPriority from '@magento/venia-concept/src/components/Button/button.module.css';
    justify-self: left;
    margin-top: 0.25rem;
}

.deleteItem {
    margin: 0 0.5rem 0 1rem;
    justify-self: right;
}

.actionWrap {
    display: flex;
    align-items: flex-start;
    min-height: 53px;
}

.moreActions {
    align-items: center;
    background-color: rgb(var(--venia-global-color-gray-100));
    border-radius: 50%;
    /**
        Hide actions menu until PWA-1683

        display: inline-flex;
     */
    display: none;
    padding: 0.125rem;
}

.lineMobile {
    border: 1px solid rgb(var(--venia-global-color-gray-400));
    height: 2px;
    width: 100%;
    display: none;
}

@media (max-width: 1270px) {
    .actionWrap {
        min-height: 60px;
    }
}
@media (max-width: 480px) {
    .addToCart {
        min-width: 100%;
    }

    .root {
        padding: 0 8%;
    }

    .optionsContainer {
        min-height: unset;
    }

    .lineMobile {
        display: block;
    }
}
