.root {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    composes: gap-x-xs from global;
    composes: gap-y-md from global;
    composes: grid from global;

    composes: xs_gap-x-md from global;
    composes: xs_gap-y-md from global;
}

.productItemContainer {
    height: 80px;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1.5fr 2fr 2fr 2fr 2fr 1fr 1.1fr 1.5fr 1.5fr;
    grid-gap: 0 clamp(20px, 1.5vw, 30px);
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    align-content: center;
    background-color: #f6f8fb;
}

@media (max-width: 1250px) {
    .productItemContainer {
        grid-template-columns: 1fr 2fr auto 2fr 1fr 1fr 1.5fr 1.5fr;
    }
}

@media (max-width: 1080px) {
    .productItemContainer {
        grid-template-columns: 1fr auto 2fr 1fr 1fr 1.5fr;
    }
}

/* Tablet and mobile */
@media (max-width: 980px) {
    .productItemContainer {
        display: none;
    }
}

@media (max-width: 580px) {
    .productItemContainer {
        display: none;
    }
}

/* Tablet and mobile */
@media (max-width: 980px) {
    .productItemContainer {
        display: none;
    }
}

@media (max-width: 580px) {
    .productItemContainer {
        display: none;
    }
}

.categoriesItemList {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.indexFixed {
    text-align: center;
    width: 100%;
}
.titles {
    text-align: center;
}
