.container {
    background-color: #f6f8fb;
    max-height: 1300px;
    min-height: 500px;
    padding: 0 clamp(15px, 2.5vw, 35px);
    padding-bottom: clamp(15px, 2.5vw, 30px);
}

.chatAndFilesContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-top: 1px solid #cecccc;
}

.chatAndInputContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.loadingIndicator {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: calc(100% - 6rem);
    justify-content: center;
    justify-items: center;
    margin: 3rem 0px;
    width: 100%;
    min-height: 300px;
}

/***** ChatHeader *****/
.chatHeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

.chatHeaderTitle {
    font-weight: 300;
    font-size: 14px;
    color: #0c0c0c;
}

.chatHeaderAgent {
    font-weight: 600;
    font-size: 25px;
    color: #0c0c0c;
    line-height: 24px;
}

.chatHeaderOptions {
    visibility: hidden;
}
/***** end ChatHeader *****/

/***** ChatBody *****/
.chatContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 500px;
    max-height: 500px;
    overflow: auto;
    padding: 0 clamp(10px, 3vw, 50px);
}

.chatBodyCustomerContainer {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

.chatBodyAgentContainer {
    composes: chatBodyCustomerContainer;
    align-items: flex-start;
}

.chatBodyCustomerComment {
    background-color: #fbf3dd;
    border-radius: 15px 15px 0 15px;
    width: fit-content;
    max-width: 600px;
    margin-left: 30px;
}

.chatBodyAgentComment {
    background-color: #e8aa00;
    border-radius: 15px 15px 15px 0;
    width: fit-content;
    max-width: 600px;
    margin-right: 30px;
}

.chatBodyCommentCustomerText {
    color: #464646;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 15px;
    white-space: pre-line;
    line-break: anywhere;
}

.chatBodyCommentAgentText {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 15px;
    white-space: pre-line;
    line-break: anywhere;
}

.commentMetadataContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.chatBodyCommentTimeCustomerText {
    color: #0c0c0c;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    text-align: right;
}

.chatBodyCommentTimeAgentText {
    composes: chatBodyCommentTimeCustomerText;
    text-align: left;
}
/***** end ChatBody *****/

/***** attachmentsInline *****/
.attachmentsInlineContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 5px;
    gap: 10px;
}

.attachmentsInlineCustomerContainer {
    composes: attachmentsInlineContainer;
    justify-content: flex-end;
}

.attachmentsBodyContainer {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}
/***** end attachmentsInline *****/

/***** attachmentsBody *****/
.attachmentsBodyContainer {
    max-height: 566px;
    overflow-y: auto;
}
/***** end attachmentsBody *****/

/***** chatInput *****/
.chatInputContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 15px;
    padding-right: 10px;
}

.chatInput {
    -webkit-appearance: none;
    background: white;
    border-radius: 29px;
    border: 2px solid var(--b2bStore-fieldInput-border-color);
    color: rgb(var(--venia-global-color-text));
    display: inline-flex;
    flex: 0 0 100%;
    height: 50px;
    max-width: 100%;
    padding-left: calc(1.875rem * var(--iconsBefore) + 0.825rem) !important;
    padding: calc(0.375rem - 1px) 0;
    width: 100%;

    /***** Font *****/
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.chatInputDisabled {
    composes: chatInput;
    cursor: not-allowed;
}

.sendCommentButton {
    composes: root_highPriority from '@magento/venia-concept/src/components/Button/button.module.css';
    height: 50px;
    min-width: 50px;
    padding: 0;
    padding-left: 5px;
    width: 50px;
}

.attachmentIcon {
    fill: var(--fill, none);
    stroke: var(--stroke, rgb(var(--venia-global-color-text)));
    stroke-width: 1px;
}

.doubleCheckIcon {
    width: 16px;
}

/***** end chatInput *****/

/***** chatFiles *****/
.chatFilesContainer {
    display: flex;
    flex-direction: column;
    padding-left: clamp(15px, 2.5vw, 30px);
    border-left: 1px solid #cecccc;
}

.chatFilesTitle {
    padding: 30px 0;
    font-weight: 600;
    font-size: 30px;
    line-height: 24px;
    color: #0c0c0c;
}

/***** end chatFiles *****/

/***** Dropzone *****/
.acceptedFiles {
    color: var(--orienteed-global-color-orange);
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    margin-top: -10px;
}

.errorMessage {
    color: rgb(var(--venia-global-color-error));
    font-size: 0.875rem;
    font-weight: var(--venia-global-fontWeight-semibold);
    line-height: 1rem;
    margin-top: -10px;
    white-space: pre-line;
}
/***** end Dropzone *****/

/***** Files *****/
.filesUploadedContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding-right: 10px;
    margin-top: -10px;
}

.dropzoneItem {
    border: 1px solid var(--orienteed-global-color-orange);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: nowrap;
    height: 45px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.dropzoneItemChat {
    composes: dropzoneItem;
    width: 220px;
}

.dropzoneItemName {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: #e8ab00;
    display: -webkit-box;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    padding-right: 10px;
    text-overflow: ellipsis;
    line-break: anywhere;
}

.dropzoneItemSize {
    color: #807a7a;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    white-space: nowrap;
}

.dropzoneItemCloseButton {
    width: 14px;
    cursor: pointer;
}

.dropzoneItemDataContainer {
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

@media (max-width: 600px) {
    .filesUploadedContainer {
        grid-template-columns: 1fr;
    }
}
/***** end Files *****/

/***** emojiPicker *****/
.chatEmojiContainer {
    position: relative;
}

.emojiPickerIcon {
    width: 13px;
    margin: 10px;
}

.emojiPickerIconDisabled {
    cursor: not-allowed;
}
/***** end emojiPicker *****/

/***** emptyAttachments *****/
.emptyAttachmentsContainer {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}
.emptyAttachmentsIcon {
    width: 100px;
}
.emptyAttachmentsText {
    text-align: center;
    width: 100%;
    margin-right: 22px;
}
/***** end emptyAttachments *****/

@media (max-width: 700px) {
    .chatFilesContainer {
        display: none;
        visibility: hidden;
    }

    .chatInputContainer {
        padding-right: 0px;
    }

    .chatAndFilesContainer {
        grid-template-columns: 1fr;
    }

    .chatHeaderOptions {
        visibility: visible;
        padding: 0 20px;
    }
}
