.OrderIncidenceStatusContainer {
    border-left: 2px solid rgb(var(--venia-global-color-gray));
    padding: 1.5rem;
    overflow: hidden;
}
.OrderIncidenceRow {
}

.OrderIncidenceBtn {
    color: rgb(var(--venia-global-color-text));
    border-color: var(--orienteed-primary-color-base1);
}

.addBtn {
    background: none;
    border-style: solid;
    border-width: 1px;
    font-size: var(--venia-global-fontSize-100);
    font-weight: var(--venia-global-fontWeight-bold);
    line-height: 1rem;
    max-width: 100%;
    outline: none;
    padding: 8px 15px;
    transition-duration: 256ms;
    transition-property: background-color, border-color, color;
    transition-timing-function: var(--venia-global-anim-standard);
    color: rgb(var(--venia-global-color-text));
    border-color: var(--orienteed-primary-color-base1);
    margin: 15px 0;
}
.OrderIncidenceDiv {
}

.incidenceRow {
    display: flex;
    margin-bottom: 10px;
}

.modal:after {
    content: '';
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}
@media (min-width: 960px) {
    .OrderIncidenceRow {
        grid-template-columns: minmax(5rem, 10rem) minmax(5rem, 10rem) minmax(9rem, 10rem) 25rem 12rem 12rem 5rem;
    }
}
@media (min-width: 600px) {
    .addDescr {
        padding-right: 15px;
    }
}
@media (max-width: 960px) {
    .OrderIncidenceContainer {
        grid-column: 1 span;
        grid-row: unset;
        padding: 1.5rem;
    }
    .OrderIncidenceStatusContainer {
        grid-column-end: 1 span;
        padding: 1.5rem;
    }
}

.modal {
    font-size: 12px;
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    background-color: rosybrown;
}
.modal > .content {
    width: 100%;
    padding: 10px 5px;
}
.modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
}
.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}

.button-content-ouv {
    align-items: center;
    display: inline-grid;
    gap: 0.35rem;
    grid-auto-flow: column;
    justify-content: center;
    justify-items: center;
    background-color: rosybrown;
}

input[type='text'],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type='submit'] {
    background-color: #6f45a0;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type='submit']:hover {
    background-color: #6f45a0;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col75 {
    display: flex;
    float: left;
    width: 100%;
    margin-top: 6px;
    flex-wrap: wrap;
}

/* Clear floats after the columns */
.row:after {
    content: '';
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25,
    .col75,
    input[type='submit'] {
        width: 100%;
        margin-top: 0;
    }
    .col75 {
        flex-direction: column;
    }
    .incidenceRow {
        flex-wrap: wrap;
    }
    .addDescr {
        margin-bottom: 5px;
    }
    .modal {
        width: 96%;
        margin: 0 auto;
    }
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: 15px;
}
