.root {
    display: grid;
    grid-template-areas:
        'actions'
        'items';
    grid-template-columns: 1fr;
    line-height: 1;
}

.items {
    display: grid;
    grid-area: items;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 10px;
}

@media (max-width: 640px) {
    .items {
        grid-template-columns: repeat(2, 1fr);
    }
}
