.root {
}

.images {
    display: grid;
    grid-template-areas: 'main';
}

.image {
    display: block;
    grid-area: main;
    height: auto;
    animation: fadein 0.512ms;
    width: 100%;
}

.imagePlaceholder {
    composes: image;
    background-color: rgb(var(--venia-grey));
}

.name,
.price {
    font-size: 0.875rem;
    line-height: 1rem;
    margin: 0.5rem 0;
    min-height: 1rem;
}

/* state: pending */

.root_pending {
    composes: root;
}

.imagePlaceholder_pending {
    composes: imagePlaceholder;
    opacity: 0;
    display: none;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
