* {
    box-sizing: border-box;
}

.items {
    display: grid;
    grid-area: items;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.pageNav {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.tile {
    padding-top: 6px;
    padding-bottom: 4px;
}

button {
    border-radius: 2px;
    width: 30px;
    margin-right: 5px;
    outline: none;
}

button.selected {
    border: 1px solid;
    border-color: #000;
}

.slider {
    display: grid;
}

.slider_inactive {
    color: #999;
}
