.root {
    background-color: rgb(var(--venia-grey));
    box-shadow: 0 1px rgb(var(--venia-border));
    display: grid;
    grid-auto-columns: 100%;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    grid-row-gap: 0.5rem;
}

.toolbar {
    align-content: center;
    align-items: center;
    display: grid;
    grid-template-areas: 'primary title secondary';
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 3rem;
    justify-items: center;
    min-height: 3.5rem;
    padding: 0 1rem;
}

.navTrigger,
.cartTrigger,
.searchTrigger {
    composes: root from '../clickable.css';
    height: 3rem;
    width: 3rem;
}

.logo {
    grid-area: title;
}

.primaryActions {
    grid-area: primary;
    justify-self: start;
}

.secondaryActions {
    grid-area: secondary;
    justify-self: end;
}

.searchBlock {
    align-items: center;
    display: none;
    flex: none;
    justify-content: center;
    order: 1;
    padding: 0 0.5rem 1rem;
    width: 100%;
}

.searchInput {
    border: 1px solid rgb(var(--venia-border));
    border-radius: 6px;
    font-size: 1rem;
    height: 3rem;
    padding: 0 1.5rem;
    width: 24rem;
    -webkit-appearance: none;
}
