.root {
    background-color: rgb(var(--venia-grey));
    box-shadow: 0 1px rgb(var(--venia-border));
    display: grid;
    grid-auto-columns: 100%;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    transition-property: grid-row-gap;
}

.open {
    composes: root;
    grid-row-gap: 0.5rem;
    transition-duration: 224ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.closed {
    composes: root;
    grid-row-gap: 0;
    transition-duration: 192ms;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.toolbar {
    align-content: center;
    align-items: center;
    display: grid;
    grid-template-areas: 'primary title secondary';
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 3rem;
    justify-items: center;
    min-height: 3.5rem;
    padding: 0 1rem;
}

.navTrigger,
.cartTrigger {
    composes: root from '../clickable.css';
    height: 3rem;
    width: 3rem;
}

.searchTrigger {
    composes: root from '../clickable.css';
    transition-property: outline;
    transition-duration: 224ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    height: 3rem;
    width: 3rem;
}

.searchTriggerOpen { 
    composes: searchTrigger;
    outline: 1px solid rgb(var(--venia-text-alt));
}

.logo {
    grid-area: title;
}

.primaryActions {
    grid-area: primary;
    justify-self: start;
}

.secondaryActions {
    grid-area: secondary;
    justify-self: end;
}
