node_modules
npm-debug.log
.DS_Store
.vscode
jsconfig.json
coverage
test-results
dist
storybook-dist
.idea
test-report.xml
test-results.json
.env
yarn-error.log
# Packages that build partially transpiled ES modules put them here
docker/certs
.history

## exception: commit node_modules folders in test fixtures
!**/__fixtures__/*/node_modules

## May temporarily create tarballs during scaffolding debug
packages/**/*.tgz
