version: '3'
services:
  # proxy service that creates a reverse proxy to the pwa container - https://bit.ly/2HpZJDI
  # the reverse proxy connects the SSL/TLS certs created on the local file system into the nginx container
  # this allows the pwa container to be accessible over HTTPS
  # it also proxies requests to the configured domain running at the configured port for the pwa container
  nginx-proxy:
    image: jwilder/nginx-proxy:alpine
    hostname: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./docker/certs:/etc/nginx/certs
      - /var/run/docker.sock:/tmp/docker.sock:ro
    restart: unless-stopped

  pwa:
    hostname: ${DEV_SERVER_HOST}
    # build pwa using the Dockerfile from the PWD
    build:
      context: .
      dockerfile: Dockerfile.dev
      args:
        HOST: ${DEV_SERVER_HOST}
        ENVFILEPATH: ${ENVFILEPATH}
    # list of directories and files on the host system to volume mount into the container
    # changes made to files in the container and on the host file system are mapped to one another
    # this enables hot reloading from the container to detect changes made on the host file system
    volumes:
      - ./packages/peregrine/.storybook:/usr/src/app/packages/peregrine/.storybook:rw
      - ./packages/peregrine/esm:/usr/src/app/packages/peregrine/esm:rw
      - ./packages/peregrine/scripts:/usr/src/app/packages/peregrine/scripts:rw
      - ./packages/peregrine/src:/usr/src/app/packages/peregrine/src:rw
      - ./packages/pwa-buildpack/src:/usr/src/app/packages/pwa-buildpack/src:rw
      - ./packages/upward-js/lib:/usr/src/app/packages/upward-js/lib:rw
      - ./packages/venia-concept/src:/usr/src/app/packages/venia-concept/src:rw
      - ./packages/venia-concept/static:/usr/src/app/packages/venia-concept/static:rw
      - ./packages/venia-concept/templates:/usr/src/app/packages/venia-concept/templates:rw
      - ./packages/venia-library/.storybook:/usr/src/app/packages/venia-library/.storybook:rw
      - ./packages/venia-library/esm:/usr/src/app/packages/venia-library/esm:rw
    links:
      - nginx-proxy
    environment:
      # environment variables consumed by the nginx-proxy service
      VIRTUAL_HOST: ${DEV_SERVER_HOST}
      VIRTUAL_PORT: ${DEV_SERVER_PORT}
    expose:
      - ${DEV_SERVER_PORT}
