.confirmationModalContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

.confirmationModalBodyContainer {
    align-content: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.headingText {
    color: #0c0c0c;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.bodyText {
    color: #0c0c0c;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
}

.qtyBody{
    gap: 1rem;
    height: 2rem;
    display: flex;
}

.qtyField {
    width: 25%;
}

.qtyField input,
.productsSelect {
    border: 1px solid #eaecee;
}

@media (max-width: 959px) {
    .confirmationModalBodyContainer {
        align-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
    }

    .headingText {
        font-size: 16px;
    }

    .bodyText {
        font-size: 20px;
    }
}
