.root {
    composes: root from '@magento/venia-ui/lib/components/clickable.module.css';
    color: var(--orienteed-primary-color-base1);
    font-size: var(--venia-global-fontSize-200);
    font-weight: var(--venia-global-fontWeight-semibold);
    text-decoration: underline;
    line-height: 1.25rem;
    max-width: 100%;
}

.root:hover {
    color: var(--orienteed-primary-color-base3);
}
