.root {
    composes: root from 'src/components/clickable.css';
    background-color: #00898d;
    border: 1px solid currentColor;
    border-radius: 1.5rem;
    color: rgb(var(--venia-teal));
    font-size: 0.875rem;
    height: 3rem;
    min-width: 8.75rem;
    padding: 0 1.5rem;
    transition: opacity 256ms linear;
}
