.root {
    margin-bottom: 5rem;
}

.rule {
    background-color: rgb(75 75 75);
    border: none;
    border-radius: 2px;
    height: 4px;
    margin: 0.5rem 0 2.5rem;
}

.anchor {
    opacity: 0;
}

.root:hover .anchor {
    opacity: 1;
}
