.root {
    position: relative;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.swatch {
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 0.25rem;
}

.iconWrapper {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.swatchLabel {
    position: absolute;
    bottom: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(var(--venia-text));
    color: white;
    padding: 0.5rem;
    border-radius: 2px;
    border: 2px solid rgb(var(--venia-border));
    margin-bottom: 0.75rem;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    animation: swatchPopup 3s ease-in-out normal forwards;
}

.swatchLabel:before,
.swatchLabel:after {
    content: '';
    position: absolute;
    top: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
}

.swatchLabel:before {
    border-left: 0.75rem solid transparent;
    border-right: 0.75rem solid transparent;
    border-top: 0.75rem solid rgb(var(--venia-border));
}

.swatchLabel:after {
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 0.5rem solid rgb(var(--venia-text));
}

@keyframes swatchPopup {
    0% {
        bottom: 75%;
        opacity: 0;
    }

    10% {
        bottom: 100%;
        opacity: 1;
    }

    90% {
        bottom: 100%;
        opacity: 1;
    }

    100% {
        bottom: 75%;
        opacity: 0;
    }
}
