.root {
    display: inline-flex;
    align-items: center;
    outline: 0;
}

.icon {
    background-color: white;
    border: 1px solid rgb(var(--venia-text));
    width: 1rem;
    height: 1rem;
    display: inline-flex;
    border-radius: 3px;
    margin-right: 1rem;
}

.iconActive {
    composes: icon;
    color: white;
    background-color: rgb(var(--venia-text));
}
