.signInDivider {
    border-color: rgb(var(--venia-border));
    border-style: solid;
    border-width: 0 0 1px;
    margin: 2rem 1rem;
}

.signInButton,
.showCreateAccountButton {
    text-align: center;
    margin: 1rem 0;
}

.forgotPassword {
    display: block;
    text-decoration: underline;
    color: rgb(var(--venia-error));
    font-size: 0.8rem;
    margin: 2rem auto 0;
}
