.root {
    padding: 1rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0 0 1rem;
    padding: 0 0.5rem 0.5rem 0.5rem;
}

.pagination {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
}

.placeholder {
    height: 100vh;
}

.categoryTitle {
    color: rgb(var(--venia-text));
    font-size: 1.375rem;
    font-weight: 300;
    line-height: 1.375rem;
    text-align: center;
}
