.root {
    padding: 1rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0 0 1rem;
    padding: 0.5rem;
}

.pagination {
    position: -webkit-sticky;
    position: sticky;
    background-color: white;
    bottom: 0;
    border-top: 1px solid #CCC;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.placeholder {
    height: 600px;
}
