.root {
    padding: 1rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0 0 1rem;
    padding: 0.5rem;
}

.pagination {
    position: sticky;
    bottom: 0;
}

.placeholder {
    height: 100vh;
}

.headerButtons {
    display: flex;
    justify-content: center;
}

.filterButton {
    width: 9rem;
    height: 3rem;
    border: 1px solid rgb(var(--venia-teal));
    border-radius: 100px;
    background-color: white;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    color: rgb(var(--venia-teal));
    outline: none;
}
