:root {
    --category-sidebar-width: 325px;
}

.root {
    padding: 1rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 400;
}

.pagination {
    position: relative;
    bottom: 0;
}

.placeholder {
    height: 100vh;
}

.categoryTitle {
    color: rgb(var(--venia-global-color-text));
    padding-bottom: 1rem;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.375rem;
    margin-top: 16px;
}

.heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 0.5rem;
}

.categoryInfo {
    flex-basis: 100%;
    line-height: var(--venia-global-typography-heading-lineHeight);
    margin: 1rem 0;
    max-width: 75vw;
}

.actionsBtnsMobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.headerButtons {
    width: 100%;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 6.1fr 2fr 2fr;
    align-items: center;
    padding-bottom: 1.5rem;
}

.headerButtons div button {
    width: 100%;
}
.contentWrapper {
    width: 100%;
}

.sidebar {
    display: none;
}

.downloadCsvMobile {
    margin-bottom: 2rem;
}
.downloadCsvDesktop {
    margin-left: 0.5rem;
}
.downloadCsvDesktop main article a button {
    padding: 0.2rem 0.5rem !important;
    font-size: 14px;
    font-weight: 600;
}
.downloadCsvDesktop section div button {
    width: 40px;
}
@media screen and (max-width: 1024px) {
    .downloadCsvDesktop {
        display: none;
    }
}

@media (min-width: 1024px) {
    .contentWrapper {
        display: flex;
    }

    .categoryHeader {
        width: 100%;
    }

    .headerButtons {
        justify-content: flex-end;
    }

    .heading {
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1.5rem;
    }

    .headerButtons {
        padding-bottom: 0;
    }

    .categoryInfo {
        margin: 0;
        text-align: left;
    }

    .sidebar {
        display: flex;
        align-self: flex-start;
        width: var(--category-sidebar-width);
        min-width: var(--category-sidebar-width);
    }

    .categoryContent {
        flex-grow: 1;
    }
    .downloadCsvMobile {
        margin-bottom: 2rem;
        display: none;
    }
}

.showDesBtn {
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    color: #1071ff;
}
.descriptionText {
    font-weight: 400;
    font-size: 16px;
    max-width: 1250px;
}
