.root {
    display: flex;
    align-items: center;
    height: 40px;
    border: 1px solid #7f7c88;
    border-radius: 100px;
    padding-left: 17px;
    font-size: 12px;
    line-height: 12px;
}

.filterIconContainer {
    margin-right: 6px;
}
