.root {
    position: fixed;
    left: 0.25rem;
    right: 0.25rem;
    top: 0.25rem;
    z-index: 5;
}

.debuginfo {
    display: block;
    font-size: 0.6875rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
