.root {
  background-color: rgb(var(--venia-grey));
  border-top: 1px solid rgb(var(--venia-border));
  color: black;
  margin-top: 1rem;
  padding: 0 1rem;
}

.tile {
  border-bottom: 1px solid rgb(var(--venia-border));
  padding: 1rem 2rem;
}

.copyright {
  color: rgb(var(--venia-text-alt));
  font-size: 0.75rem;
  padding: 1.5rem 2rem;
  text-align: center;
}
