.root {
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 0.875rem;
}

.root:not(:last-child) {
    margin-bottom: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(var(--venia-silver));
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.title {
    font-size: 1rem;
    line-height: 1.5rem;
    text-transform: uppercase;
}
