.root {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.root img {
    margin-bottom: 1rem;
}

.loaderAnimation {
    animation-duration: 1s;
    animation-name: loading;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.87, 0.73, 0.57, 1.49);
    animation-direction: alternate;
    position: relative;
}

@keyframes loading {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
