.root {
    display: grid;
    padding: 2.5rem 2rem;
    row-gap: 2rem;
}

.title {
    justify-self: center;
    font-family: var(--b2bStore-font-family-Lato);
    font-weight: var(--venia-global-fontWeight-bold);
}

.accountDetails {
    display: flex;
    justify-content: space-evenly;
    /* display: grid;
    row-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr; */
}

.lineItemsContainer {
    display: flex;
    flex-direction: column;
    /* grid-column: 1 / span 1;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    line-height: 1.5rem; */
}

.lineItemLabel {
    font-weight: var(--venia-global-fontWeight-bold);
}

.nameLabel,
.emailLabel,
.passwordLabel {
    composes: lineItemLabel;
}

.editButtonContainer {
    width: auto;
    /* grid-column: 1 / span 1;
    text-align: center; */
}

.editInformationButton {
    composes: root_normalPriority from '@magento/venia-concept/src/components/Button/button.module.css';
    margin-top: 1rem;
}
.titleContainer {
    display: flex;
    margin-top: 1rem;
}

.title {
    margin-right: 1rem;
}

.addButton {
    height: 12rem;
    width: 15rem;
    border: 2px dashed rgb(var(--venia-global-color-gray-400));
    border-radius: 0.375rem;
    font-size: 0.875rem;
    font-weight: 600;
    transition: border-color 0ms var(--venia-global-anim-standard);
    color: rgb(var(--venia-global-color-text));
}

.addButton:focus {
    outline: none;
    box-shadow: -6px 6px rgb(var(--venia-global-color-blue-700) / 0.3);
}

.addButton:hover {
    border-color: var(--orienteed-primary-color-base1);
    color: var(--orienteed-primary-color-base1);
}

@media (max-width: 961px) {
    .accountDetails {
        display: flex;
        flex-direction: column;
    }
    .lineItemsContainerOuter {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .addButtonContainer {
        margin-top: 5rem;
        text-align: center;
    }
}

/* @media (min-width: 961px) {
    .nameLabel,
    .emailLabel,
    .passwordLabel {
        composes: lineItemLabel;
    }
}

@media (max-width: 960px) {
    .accountDetails {
        grid-template-columns: 1fr;
    }

    .lineItemsContainer {
        grid-template-columns: 1fr;
        grid-gap: 0.75rem;
    }
} */
