@keyframes placeholderShimmer {
    0% {
        background-position: calc(100vw + 40px);
    }

    100% {
        background-position: calc(100vw - 40px);
    }
}

.shimmer-animation-button {
    background-color: #f6f7f8;
    background-image: linear-gradient(
        to right,
        #f6f7f8 0%,
        #edeef1 20%,
        #f6f7f8 40%,
        #f6f7f8 100%
    );
    background-repeat: no-repeat;
    background-size: 100vw 4rem;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeholderShimmer;
    animation-timing-function: linear;
}

.ds-plp-facets__button {
    height: 3rem;
    width: 160px;
}
