.wrapper {
    display: inline-grid;
    grid-auto-flow: column;
    grid-template-areas: 'input icon';
    grid-template-columns: auto 2.25rem;
    height: 2.25rem;
}

.input {
    composes: input from '../Field/field.css';
    grid-area: input-start / input-start / input-end / icon-end;
    padding-right: calc(2.25rem - 1px);
}
