.header {
    background-color: rgb(var(--venia-global-color-gray-75));
    display: none;
}

@media (max-width: 960px) {
    .header {
        display: grid;
        grid-auto-columns: min-content;
        grid-auto-flow: column;
        height: 48px;
    }
}

.header--expanded-true {
    composes: header;
}

.header--expanded-false {
    composes: header;
}

.mask {
    background-color: rgb(0 0 0 / 0.4);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

@media (max-width: 960px) {
    .mask {
        display: block;
    }
}

.mask--expanded-true {
    composes: mask;
    opacity: 1;
    visibility: visible;
}

.mask--expanded-false {
    composes: mask;
    opacity: 0;
    visibility: hidden;
}

.rail {
    background-color: rgb(250 250 250);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 256px;
}

.rail--expanded-true {
    composes: rail;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    visibility: visible;
}

.rail--expanded-false {
    composes: rail;
}

@media (max-width: 960px) {
    .rail--expanded-false {
        composes: rail;
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
        visibility: hidden;
    }
}
