.root {
    background-color: white;
    color: rgb(var(--venia-text));
    position: relative;
    z-index: 1;
}

.page {
    min-height: 100vh;
}

/* state: masked */

.root_masked {
    composes: root;
    height: 100vh;
    overflow: hidden;
}

.page_masked {
    composes: page;
}
