.root {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    position: absolute;
    z-index: 2;
    top: 110%;
    right: 0;
    min-width: 10rem;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: black;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgb(var(--venia-global-color-gray-dark));
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.menuItem {
    border-bottom: 1px solid rgb(var(--venia-global-color-gray-dark));
    width: 200px;
}

.menuItem:last-child {
    border-bottom: none;
}

.menuItem:hover {
    background-color: rgb(var(--venia-global-color-gray));
}

.sortButton {
    background-color: var(--orienteed-global-color-orange);
    border-left: 2px solid white;
    width: 50px;
    display: flex;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    height: 44px;
}

.sortButton:hover {
    background-color: var(--b2bStore-background-color-hover-button);
}

.desktopText {
    display: inline-flex;
}

.sortText {
    line-height: 24px;
    font-size: var(--venia-global-fontSize-200);
}

.desktopIconWrapper {
    composes: root from '@magento/venia-ui/lib/components/Icon/icon.module.css';
    transform: translateX(10px);
}

.desktopIcon {
    composes: icon from '@magento/venia-ui/lib/components/Icon/icon.module.css';

    stroke: white;
}

@media (min-width: 1024px) {
    .sortButton {
        border-width: 2px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        font-weight: var(--venia-global-fontWeight-normal);
        text-transform: none;
        border-left: 2px solid white;
    }

    .desktopText {
        display: inline-flex;
    }
}
