.body {
    display: flex;
    align-items: center;
    position: relative;
    padding: 18px 24px 10px 0px;
    border-bottom: 1px solid #ececed;
}

.body:first-child {
    border-top: 1px solid #ececed;
}

.textBlock {
    display: inline-block;
    height: 36px;
    width: 164px;
    margin-left: 12px;
}

.textBlockTitle {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.textBlockDate {
    font-size: 10px;
    font-weight: 300;
    line-height: 14px;
}

.chevronContainer {
    position: absolute;
    right: 23px;
}

.image {
    height: 60px;
}
