.body {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.625rem 2.125rem 0.625rem 0;
    border-bottom: 1px solid #ececed;
}

.body:first-child {
    border-top: 1px solid #ececed;
}

.textBlock {
    display: inline-block;
    height: 2.25rem;
    width: 10.25rem;
    margin-left: 0.75rem;
}

.textBlockTitle {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.125rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.textBlockDate {
    font-size: 10px;
    font-weight: 300;
    line-height: 0.875rem;
}

.chevronContainer {
    position: absolute;
    right: 1.25rem;
}

.image {
    height: 3.75rem;
}
