/* global tokens */
:global :root {
    /* animation */
    --venia-global-anim-in: cubic-bezier(0, 0, 0.2, 1);
    --venia-global-anim-out: cubic-bezier(0.4, 0, 1, 1);
    --venia-global-anim-standard: cubic-bezier(0.4, 0, 0.2, 1);

    /* color */
    --venia-global-color-gray-50: 255 255 255;
    --venia-global-color-gray-75: 250 250 250;
    --venia-global-color-gray-100: 244 245 245;
    --venia-global-color-gray-200: 234 235 235;
    --venia-global-color-gray-300: 223 225 226;
    --venia-global-color-gray-400: 181 184 186;
    --venia-global-color-gray-500: 149 154 157;
    --venia-global-color-gray-600: 118 123 127;
    --venia-global-color-gray-700: 84 93 99;
    --venia-global-color-gray-800: 51 63 71;
    --venia-global-color-gray-900: 23 32 38;
    --venia-global-color-blue-400: 61 132 255;
    --venia-global-color-blue-500: 51 109 255;
    --venia-global-color-blue-600: 41 84 255;
    --venia-global-color-blue-700: 31 57 255;
    --venia-global-color-green-400: 51 171 132;
    --venia-global-color-green-500: 45 157 120;
    --venia-global-color-green-600: 38 142 108;
    --venia-global-color-green-700: 18 128 92;
    --venia-global-color-red-400: 236 91 98;
    --venia-global-color-red-500: 227 72 80;
    --venia-global-color-red-600: 215 55 63;
    --venia-global-color-red-700: 201 37 45;

    /* font family */
    --venia-global-text-fontFamily-sansSerif: 'Muli', sans-serif;
    --venia-global-text-fontFamily-serif: 'Source Serif Pro', sans-serif;

    /* font size */
    --venia-global-text-fontSize-50: 0.6875rem; /* 11px */
    --venia-global-text-fontSize-75: 0.75rem; /* 12px */
    --venia-global-text-fontSize-100: 0.875rem; /* 14px */
    --venia-global-text-fontSize-200: 1rem; /* 16px */
    --venia-global-text-fontSize-300: 1.125rem; /* 18px */
    --venia-global-text-fontSize-400: 1.25rem; /* 20px */
    --venia-global-text-fontSize-500: 1.375rem; /* 22px */
    --venia-global-text-fontSize-600: 1.5rem; /* 24px */
    --venia-global-text-fontSize-700: 1.75rem; /* 28px */
    --venia-global-text-fontSize-800: 2rem; /* 32px */
    --venia-global-text-fontSize-900: 2.25rem; /* 36px */
    --venia-global-text-fontSize-1000: 2.5rem; /* 40px */
    --venia-global-text-fontSize-1100: 3rem; /* 48px */
    --venia-global-text-fontSize-1200: 3.5rem; /* 56px */

    /* font weight */
    --venia-global-text-fontWeight-normal: 400;
    --venia-global-text-fontWeight-semibold: 600;
    --venia-global-text-fontWeight-bold: 700;

    /* line height */
    --venia-global-text-lineHeight-100: 1;
    --venia-global-text-lineHeight-200: 1.25;
    --venia-global-text-lineHeight-300: 1.5;
    --venia-global-text-lineHeight-400: 1.75;
    --venia-global-text-lineHeight-500: 2;
}

/* alias tokens */
:global :root {
    /* colors */
    --venia-brand-color-1-400: var(--venia-global-color-blue-400);
    --venia-brand-color-1-500: var(--venia-global-color-blue-500);
    --venia-brand-color-1-600: var(--venia-global-color-blue-600);
    --venia-brand-color-1-700: var(--venia-global-color-blue-700);

    /* typography */
    /* heading */
    --venia-typography-heading-XL-fontSize: var(
        --venia-global-text-fontSize-600
    );
    --venia-typography-heading-L-fontSize: var(
        --venia-global-text-fontSize-400
    );
    --venia-typography-heading-M-fontSize: var(
        --venia-global-text-fontSize-300
    );
    --venia-typography-heading-S-fontSize: var(
        --venia-global-text-fontSize-200
    );
    --venia-typography-heading-XS-fontSize: var(
        --venia-global-text-fontSize-100
    );
    --venia-typography-heading-lineHeight: calc(
        var(--venia-global-text-lineHeight-200) * 1em
    );

    /* body */
    --venia-typography-body-XXXL-fontSize: var(
        --venia-global-text-fontSize-600
    );
    --venia-typography-body-XXL-fontSize: var(--venia-global-text-fontSize-500);
    --venia-typography-body-XL-fontSize: var(--venia-global-text-fontSize-400);
    --venia-typography-body-L-fontSize: var(--venia-global-text-fontSize-300);
    --venia-typography-body-M-fontSize: var(--venia-global-text-fontSize-200);
    --venia-typography-body-S-fontSize: var(--venia-global-text-fontSize-100);
    --venia-typography-body-XS-fontSize: var(--venia-global-text-fontSize-50);
    --venia-typography-body-lineHeight: calc(
        var(--venia-global-text-lineHeight-300) * 1em
    );

    /* detail */
    --venia-typography-detail-XL-fontSize: var(
        --venia-global-text-fontSize-200
    );
    --venia-typography-detail-L-fontSize: var(--venia-global-text-fontSize-100);
    --venia-typography-detail-M-fontSize: var(--venia-global-text-fontSize-75);
    --venia-typography-detail-S-fontSize: var(--venia-global-text-fontSize-50);
    --venia-typography-detail-lineHeight: calc(
        var(--venia-global-text-lineHeight-200) * 1em
    );
}
