.heading {
    line-height: calc(var(--venia-typography-heading-lineHeight) * 1em);
}

.body {
    line-height: calc(var(--venia-typography-body-lineHeight) * 1em);
}

.detail {
    line-height: calc(var(--venia-typography-detail-lineHeight) * 1em);
}
