@keyframes placeholderShimmer {
    0% {
        background-position: calc(-100vw + 40px); /* 40px offset */
    }
    100% {
        background-position: calc(100vw - 40px); /* 40px offset */
    }
}

.shimmer-animation-facet {
    background-color: #f6f7f8;
    background-image: linear-gradient(
        to right,
        #f6f7f8 0%,
        #edeef1 20%,
        #f6f7f8 40%,
        #f6f7f8 100%
    );
    background-repeat: no-repeat;
    background-size: 100vw 4rem;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeholderShimmer;
    animation-timing-function: linear;
}

.ds-sdk-input__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: 0.75rem;
}

.ds-sdk-input__title {
    height: 2.5rem;
    flex: 0 0 auto;
    width: 50%;
}

.ds-sdk-input__item {
    height: 2rem;
    width: 80%;
    margin-bottom: 0.3125rem;
}

.ds-sdk-input__item:last-child {
    margin-bottom: 0;
}
