/* global tokens */
:global(:root) {
    /* color */
    --orienteed-global-color-orange: #e8ab00;
    --orienteed-global-color-orange-hover: #dc8b10;
    --orienteed-global-color-gray: #808080;
    --orienteed-global-color-black: #28282b;
    --orienteed-global-color-orange-op: 232, 171, 0;
    --orienteed-global-color-gray-op: 128, 128, 128;
    --orienteed-global-color-black-op: 40, 40, 43;
    /* fonts */
    --b2bStore-footer-title-font-size: 20px;
    --b2bStore-footer-text-font-size: 14px;
    --b2bStore-footer-color: #0c0c0c;
    --b2bStore-font-family: 'Lato', sans-serif;
    --b2bStore-font-color: #676f71;
    /* field input */
    --b2bStore-fieldInput-border-color: #eaecee;
    /*border */
    --b2bStore-border-radius: 30px;
    /*background */
    --b2bStore-background-color-hover: #ffc82f;
}

/* alias tokens */
:global(:root) {
    /* colors */
    --orienteed-primary-color-base1: var(--orienteed-global-color-orange);
    --orienteed-primary-color-base1-hover: var(--orienteed-global-color-orange-hover);
    --orienteed-primary-color-base2: var(--orienteed-global-color-gray);
    --orienteed-primary-color-base3: var(--orienteed-global-color-black);
    /* font */
    --b2bStore-font-family-Lato: var(--b2bStore-font-family);
    /*border */
    --b2bStore-border-radius-button: var(--b2bStore-border-radius);
    --b2bStore-fieldInput-border-color-button: var(--b2bStore-fieldInput-border-color);
    --b2bStore-font-normal-color: var(--b2bStore-font-color);
    --b2bStore-background-color-hover-button: var(--b2bStore-background-color-hover);
}
