.root {
    display: flex;
    overflow: auto;
    padding-bottom: 0.5rem;
    margin: 0 1.5rem 1rem;
}

.root:empty {
    display: none;
}

.icon {
    line-height: 1;
    padding-right: 0.25rem;
}

.button {
    border: 1px solid rgb(var(--venia-border));
    border-radius: 3px;
    outline: 0;
    padding: 0.25rem 0.75rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    white-space: nowrap;
    display: flex;
    align-items: flex-end;
}
