.root {
    display: grid;
    grid-template-columns: auto 1fr;
    border: 1px solid rgb(var(--venia-border));
    color: black;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.5rem;
    padding: 0.5rem 0.625rem 2rem;
}

.property {
    margin-right: 1.5rem;
    color: rgb(var(--venia-text-alt));
}

.value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
