.root {
    display: grid;
    grid-template-columns: auto 1fr;
    border: 1px solid rgb(var(--venia-silver));
    color: rgb(var(--venia-black));
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    padding: 8px 10px 16px;
}

.property {
    margin-right: 24px;
    color: rgb(var(--venia-dove-gray));
}

.value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
