.root {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    line-height: 1;
    padding: 0;
    pointer-events: auto;
    text-align: center;
    white-space: nowrap;
}
