<!DOCTYPE html>
<html lang="" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Product listing | Magento PWA Documentation</title>
	<meta name="description" content="Everything you need to build a Magento PWA.">

	<link rel="stylesheet" href="/pwa-studio/assets/css/app.css" />
	<link rel="stylesheet" href="/pwa-studio/assets/css/print.css" media="print"/>

	<link rel="stylesheet" href="/pwa-studio/builds/css/main.css" />

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

	<script>
  var baseUrl = "/pwa-studio";
  var algolia = {
    id : "E642SEDTHL",
    index:  "pwa-devdocs",
    key:  "d2d0f33ab73e291ef8d88d8b565e754c"
  };

  var indices = [
    {
      label: "PWA",
      name: "pwa-devdocs",
      baseUrl: "https://pwastudio.io"
    },
    {
      label: "DevDocs",
      name: "devdocs",
      facets: [["guide_version: 2.3", "versionless: true"]],
      refinements: [
        {
          label: "Functional areas",
          attribute: "functional_areas"
        }
      ],
      baseUrl: "https://devdocs.magento.com"
    },
    {
      label: "User Guide",
      name: "merchdocs_ee",
      baseUrl: "https://docs.magento.com/m2/ee/user_guide"
    },
    {
      label: "Order Management",
      name: "oms-en",
      baseUrl: "https://omsdocs.magento.com"
    }
  ];
</script>





<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KRCLXBB');</script>
<!-- End Google Tag Manager -->




	<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="https://magento.com/favicon.ico">
	<link rel="apple-touch-icon" type="image/png" href="https://magento.com/apple-touch-icon.png">
	<link rel="apple-touch-icon" type="image/png" sizes="57x57" href="https://magento.com/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" type="image/png" sizes="72x72" href="https://magento.com/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" type="image/png" sizes="76x76" href="https://magento.com/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" type="image/png" sizes="114x114" href="https://magento.com/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" type="image/png" sizes="120x120" href="https://magento.com/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" type="image/png" sizes="144x144" href="https://magento.com/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" type="image/png" sizes="152x152" href="https://magento.com/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="https://magento.com/apple-touch-icon-180x180.png">

</head>
<body class="layout-default">

	<header class="site-header">

		<nav class="site-nav">

  <div class="menu-btn">
    <button id="menu-btn" class="menu-trigger menu-icon" aria-haspopup="true" aria-controls="nav-main" aria-label="Menu"></button>
  </div>

  <div class="nav-container">

    <a class="logo" data-proofer-ignore href="/pwa-studio/">
      <img src="/pwa-studio/assets/i/m-logo.svg" alt="">
      <img src="/pwa-studio/assets/i/magento-logo.svg" alt="Magento" class="magento-logo" />
      <span class="site-logo">PWA Docs</span>
    </a>

    <div id="nav-main" class="nav-main-wrap" aria-labelledby="menu-btn">
      

      <!-- Main Navigation -->
<ul class="nav-main" role="menubar">

  
  <li class="menuitem ">
      <a href="/pwa-studio/technologies/overview/">Overview</a>
  </li>
  

  
  <li class="menuitem ">
      <a href="/pwa-studio/pwa-buildpack/">PWA Buildpack</a>
  </li>
  

  
  <li class="menuitem ">
      <a href="/pwa-studio/peregrine/">Peregrine Components</a>
  </li>
  

  
  <li class="menuitem current">
      <a href="/pwa-studio/venia-pwa-concept/">Venia Storefront</a>
  </li>
  

  
  <li class="menuitem ">
      <a href="/pwa-studio/tutorials/">Tutorials</a>
  </li>
  

</ul>

    </div>

    <div class="search-btn">
      <button class="search-trigger search-icon" aria-label="Search"></button>
    </div>

    <form class="quick-search" action="/pwa-studio/search/" method="get" novalidate="novalidate">
      <input type="search" name="query" placeholder="Search" />
      <button class="quick-search-close" aria-label="Close search">&times;</button>
    </form>

  </div>
</nav><!-- .site-nav -->
<div class="nav-main-fader"></div>


	</header>

	<div class="global-wrapper">

		<div class="message-banner">
If you have any project questions, concerns, or contribution ideas, join our <a href="https://magentocommeng.slack.com/messages/C71HNKYS2"><strong>#pwa</strong></a> Slack channel.
Find out how to create an account by visiting <a href="https://devdocs.magento.com/community/resources/resources.html">Community Resources</a>
</div>



		<div class="main-container">
			<a id="main-content"></a>


<div class="content-container">

	<!-- sidebar -->
<aside class="sidebar">
    <button class="toc-toggler">Table of Contents</button>
    <div class="sidebar-wrapper">

      





<div class="menu-section">
    <div class="toc-entry"><h4 class="guide-title">Venia Storefront</h4></div>

    <ul class="table-of-contents">
    
        <li >
            
            <a href="/pwa-studio/venia-pwa-concept/" class=" ">Overview</a>
            

            
        </li>
    
        <li >
            
            <a href="/pwa-studio/venia-pwa-concept/project-structure/" class=" ">Project structure</a>
            

            
        </li>
    
        <li >
            
            <a href="/pwa-studio/venia-pwa-concept/setup/" class=" ">Venia storefront setup</a>
            

            
        </li>
    
        <li >
            
            <a href="/pwa-studio/venia-pwa-concept/install-sample-data/" class=" ">Install Venia sample data</a>
            

            
        </li>
    
        <li >
            
            <span>Features</span>
            

            
            <ul>
            
                <li >
                    
                    <a href="/pwa-studio/venia-pwa-concept/features/modular-components/" class=" ">Modular components</a>
                    
                </li>
            
                <li >
                    
                    <a href="/pwa-studio/venia-pwa-concept/features/checkout/" class=" ">Checkout</a>
                    
                </li>
            
                <li >
                    
                    <a href="/pwa-studio/venia-pwa-concept/features/braintree/" class=" ">Braintree integration</a>
                    
                </li>
            
            </ul>
            
        </li>
    
        <li >
            
            <span>Design</span>
            

            
            <ul>
            
                <li >
                    
                    <a href="/pwa-studio/venia-pwa-concept/design/global-style/" class=" ">Global style guide</a>
                    
                </li>
            
                <li >
                    
                    <a href="/pwa-studio/venia-pwa-concept/design/colors/" class=" ">Colors</a>
                    
                </li>
            
                <li >
                    
                    <a href="/pwa-studio/venia-pwa-concept/design/typography/" class=" ">Typography</a>
                    
                </li>
            
                <li >
                    
                    <a href="/pwa-studio/venia-pwa-concept/design/buttons/" class=" ">Buttons</a>
                    
                </li>
            
                <li >
                    
                    <a href="/pwa-studio/venia-pwa-concept/design/form-fields/" class=" ">Form fields</a>
                    
                </li>
            
                <li >
                    
                    <a href="/pwa-studio/venia-pwa-concept/design/homepage/" class=" ">Homepage</a>
                    
                </li>
            
                <li >
                    
                    <a href="/pwa-studio/venia-pwa-concept/design/product-page/" class=" ">Product page</a>
                    
                </li>
            
                <li >
                    
                    <a href="/pwa-studio/venia-pwa-concept/design/category-page/" class=" ">Category page</a>
                    
                </li>
            
            </ul>
            
        </li>
    
        <li >
            
            <span>Component specifications</span>
            

            
            <ul>
            
                <li >
                    
                    <a href="/pwa-studio/venia-pwa-concept/component/add-to-cart/" class=" ">Add to cart</a>
                    
                </li>
            
                <li >
                    
                    <a href="/pwa-studio/venia-pwa-concept/component/add-to-wishlist/" class=" ">Add to wishlist</a>
                    
                </li>
            
                <li >
                    
                    <a href="/pwa-studio/venia-pwa-concept/component/buy-now-with/" class=" ">Buy now / Buy with</a>
                    
                </li>
            
                <li >
                    
                    <a href="/pwa-studio/venia-pwa-concept/component/category-menu/" class=" ">Category menu</a>
                    
                </li>
            
                <li >
                    
                    <a href="/pwa-studio/venia-pwa-concept/component/color-selector/" class=" ">Color selector</a>
                    
                </li>
            
                <li >
                    
                    <a href="/pwa-studio/venia-pwa-concept/component/filter/" class=" ">Filter</a>
                    
                </li>
            
                <li >
                    
                    <a href="/pwa-studio/venia-pwa-concept/component/footer/" class=" ">Footer</a>
                    
                </li>
            
                <li >
                    
                    <a href="/pwa-studio/venia-pwa-concept/component/forgot-password/" class=" ">Forgot password</a>
                    
                </li>
            
                <li >
                    
                    <a href="/pwa-studio/venia-pwa-concept/component/header/" class=" ">Header</a>
                    
                </li>
            
                <li >
                    
                    <a href="/pwa-studio/venia-pwa-concept/component/image-carousel/" class=" ">Image carousel</a>
                    
                </li>
            
                <li >
                    
                    <a href="/pwa-studio/venia-pwa-concept/component/label-selector/" class=" ">Label selector</a>
                    
                </li>
            
                <li >
                    
                    <a href="/pwa-studio/venia-pwa-concept/component/main-image/" class=" ">Main image</a>
                    
                </li>
            
                <li >
                    
                    <a href="/pwa-studio/venia-pwa-concept/component/number-of-items/" class=" ">Number of items</a>
                    
                </li>
            
                <li >
                    
                    <a href="/pwa-studio/venia-pwa-concept/component/order-confirmation/" class=" ">Order confirmation</a>
                    
                </li>
            
                <li >
                    
                    <a href="/pwa-studio/venia-pwa-concept/component/page/" class=" ">Page</a>
                    
                </li>
            
                <li >
                    
                    <a href="/pwa-studio/venia-pwa-concept/component/product-description/" class=" ">Product description</a>
                    
                </li>
            
                <li class="active">
                    
                    <a href="/pwa-studio/venia-pwa-concept/component/product-listing/" class=" ">Product listing</a>
                    
                </li>
            
                <li >
                    
                    <a href="/pwa-studio/venia-pwa-concept/component/purchase-history/" class=" ">Purchase history</a>
                    
                </li>
            
                <li >
                    
                    <a href="/pwa-studio/venia-pwa-concept/component/quantity-selector/" class=" ">Quantity selector</a>
                    
                </li>
            
                <li >
                    
                    <a href="/pwa-studio/venia-pwa-concept/component/quantity-sync-bar/" class=" ">Quantity sync bar</a>
                    
                </li>
            
                <li >
                    
                    <a href="/pwa-studio/venia-pwa-concept/component/recommended-carousel/" class=" ">Recommended carousel</a>
                    
                </li>
            
                <li >
                    
                    <a href="/pwa-studio/venia-pwa-concept/component/sale-banner/" class=" ">Sale banner</a>
                    
                </li>
            
                <li >
                    
                    <a href="/pwa-studio/venia-pwa-concept/component/share/" class=" ">Share</a>
                    
                </li>
            
                <li >
                    
                    <a href="/pwa-studio/venia-pwa-concept/component/show-more/" class=" ">Show more</a>
                    
                </li>
            
                <li >
                    
                    <a href="/pwa-studio/venia-pwa-concept/component/size-selector/" class=" ">Size selector</a>
                    
                </li>
            
                <li >
                    
                    <a href="/pwa-studio/venia-pwa-concept/component/sort/" class=" ">Sort</a>
                    
                </li>
            
                <li >
                    
                    <a href="/pwa-studio/venia-pwa-concept/component/title-bar/" class=" ">Title bar</a>
                    
                </li>
            
            </ul>
            
        </li>
    
    </ul>
</div>



    </div>
</aside>
<!-- /sidebar -->


	<section class="content">
		<div class="content-wrap">
			<!-- page-header -->
<section class="page-intro">
	<h1 class="page-heading">Product listing</h1>
</section>

			<table style="table-layout:auto">
  <thead>
    <tr>
      <th>Description</th>
      <th style="text-align: center">Reference image</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Product listing</td>
      <td style="text-align: center"><img src="/pwa-studio/venia-pwa-concept/images/product-listing.png" alt="Product listing image" width="250px" /></td>
    </tr>
  </tbody>
</table>

<h2 id="visual-specifications">Visual specifications</h2>

<p>The component consists of a thumbnail image, product name and price.
It can also include a rating where applicable.</p>

<h2 id="interactions">Interactions</h2>

<ul>
  <li><strong>Tap</strong> - Tapping on this component takes the user to a <a href="/pwa-studio/venia-pwa-concept/design/product-page/">Product page</a>.</li>
</ul>


			
		</div>
		<!-- /.content-wrap -->

		<div class="page-info">

  

  
  <div class="github-link">
    <a class="improve-page" href="https://github.com/magento/pwa-studio/tree/develop/pwa-devdocs/src/venia-pwa-concept/component/product-listing/index.md" target="_blank">
      Edit this page on GitHub
    </a>
  </div>
  

  
  <div class="new-issue">
    <a href="https://github.com/magento/pwa-studio/issues/new?title=Feedback on page: /venia-pwa-concept/component/product-listing/" target="_blank">
      Give us feedback
    </a>
  </div>
  

</div>


	</section>
	<!-- /.content -->

</div> <!-- /.content-container -->


	</div>
	<!-- /.main-container -->

</div>
<!-- /#gl-wrapper -->

<!-- footer-->
<div class="page-footer">
  <div class="container">

    <div class="copyright-links">
      <ul class="nav footer-links">
    <li><a href="http://magento.com/legal/terms/privacy/">Privacy Policy</a></li>
    <li><a href="http://magento.com/legal/terms/">Terms of Service</a></li>
    <li><a href="http://magento.com/legal/licensing/">License/Trademark FAQ</a></li>
    <li><a href="https://magentocommeng.slack.com/messages/C71HNKYS2">#pwa Slack channel</a></li>
  </ul>
    </div>

		<div class="copyright-date">&copy; 2019 Magento. All rights reserved.</div>

  </div>
</div>
<!-- / #footer -->



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="/pwa-studio/builds/js/index.bundle.js"></script>

<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="/pwa-studio/assets/js/app.min.js"></script>



<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', '', 'auto');
    ga('send', 'pageview');

</script>





</body>
</html>
