.root {
    display: flex;
    flex-direction: column;
}
.quantityFieldbox button {
    margin: 0 2px;
    border: #ccc solid 1px;
    background: #fff;
    width: 36px;
    height: 36px;
    border-radius: 2px;
}
.quantityFieldbox button svg {
    width: 20px;
}
.quantityFieldbox button:focus,
.quantityFieldbox button:hover {
    background: #333;
    color: #fff;
}

.quantityFieldbox button:disabled:focus,
.quantityFieldbox button:disabled {
    background: #ccc;
    color: #000;
}
.quantityField {
    padding: 8px 10px;
    height: 36px;
    border-radius: 2px;
    border: 1px solid #ccc;
    line-height: 16px;
    font-size: 16px;
    width: 180px;
    margin-right: 2px;
    vertical-align: top;
}

.errors {
    color: red;
    padding-top: 10px;
}

