.root {
    display: grid;
    gap: 1rem;
    margin: 0 auto;
    max-width: 60rem;
    padding: 1rem 1.75rem;
}

.orderDetailsHeaderText {
    font-size: 1rem;
    margin-top: 1rem;
}

.detailsBlockHeaderText {
    font-size: 1rem;
    margin-top: 1rem;
}
