.root {
    color: red;
    border-color: red;
}

.root:hover {
    --stroke: var(--venia-brand-color-1-800);
}

.root:focus {
    box-shadow: -6px 6px rgb(var(--venia-brand-color-1-100));
}

.root:active {
    transition-duration: 128ms;
    --stroke: var(--venia-brand-color-1-800);
}

/**
 * Some browsers retain the :hover state after a click, this ensures if a button becomes disabled after
 * being clicked it will be visually disabled.
 */
.root:disabled,
.root:hover:disabled {
    pointer-events: none;
    --stroke: var(--venia-global-color-gray-400);
}

.content {
    align-items: center;
    display: inline-grid;
    gap: 0.35rem;
    grid-auto-flow: column;
    justify-content: center;
    justify-items: center;
}

/* derived classes */
.root_lowPriority {
    composes: root;
    --stroke: var(--venia-global-color-gray-700);
}
.root_lowPriority:hover {
    --stroke: var(--venia-global-color-gray-900);
}
.root_lowPriorityNegative {
    composes: root_lowPriority;
    --stroke: var(--venia-global-color-red-700);
}
.root_lowPriorityNegative:hover {
    --stroke: var(--venia-global-color-red-800);
}

.root_normalPriority {
    composes: root;
}
.root_normalPriorityNegative {
    composes: root_normalPriority;
    --stroke: var(--venia-global-color-red-700);
}
.root_normalPriorityNegative:hover {
    --stroke: var(--venia-global-color-red-800);
}

.root_highPriority {
    composes: root;
    background-color: rgb(var(--stroke));
    color: rgb(var(--venia-global-color-gray-50));
}
.root_highPriorityNegative {
    composes: root_highPriority;
    --stroke: var(--venia-global-color-red-700);
}
.root_highPriorityNegative:hover {
    --stroke: var(--venia-global-color-red-800);
}
