.root {
    composes: root from '../clickable.css';
    position: relative;
}

.image {
    display: flex;
    height: auto;
    opacity: 1;
    transition-duration: 512ms;
    transition-property: opacity, visibility;
    transition-timing-function: ease-out;
    visibility: visible;
    width: 100%;
}

.image_error {
    composes: image;
    justify-content: center;
    align-items: center;
}

.image_error img:nth-child(2) {
    position: absolute;
}

.image_pending {
    composes: image;
    opacity: 0;
    position: absolute;
}

.imagePlaceholder {
    composes: image;
    background-color: rgb(var(--venia-grey));
    position: relative;
}

.imagePlaceholder_pending {
    composes: imagePlaceholder;
    opacity: 0;
    display: none;
}
