.root {
    display: grid;
}

.trigger {
    font-size: var(--venia-typography-body-S-fontSize);
    height: 2.25rem;
    justify-content: start;
    padding-left: calc(var(--level) * 0.75rem);
    padding-right: 1rem;
}

.leaves {
    display: grid;
}
