.reOrderRow {
}

.reOrderBtn {
    color: rgb(var(--venia-global-color-text));
    border-color: var(--orienteed-primary-color-base1);
}

.imageWrapper {
    padding: 5px;
    display: flex;
}

.imageWrapper img {
    width: 80px;
    height: auto;
}

.imageWrapper div {
    height: 84px;
}

.orderNumberContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.sideBorder {
    border-right: 1px solid #cecccc;
    margin: 2rem 1rem;
}
.orderNumberContainer div button {
    color: #e8aa00;
}

.reOrderRow {
    min-height: 142px;
}

.orderStatusContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

@media (min-width: 960px) {
    .reOrderRow {
        grid-template-columns: 0.5fr repeat(5, 0.7fr) 40px;
    }
}

@media (min-width: 1201px) {
    .imageWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
