.root {
    display: inline-flex;
    justify-content: center;
    padding: 1rem;
    background-color: white;
    border-top: 1px solid #ccc;
    width: 100%;
    text-align: center;
}

.items {
    display: grid;
    grid-area: items;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.tile {
    padding-top: 6px;
    padding-bottom: 4px;
}

button {
    width: 30px;
    height: 30px;
    margin-left: 2px;
    margin-right: 2px;
    outline: none;
}

button.selected {
    border: 1px solid;
    border-color: #000;
}

.slider {
    display: grid;
    padding-bottom: 3px;
}

.slider_inactive {
    color: #999;
}

.tileMarker {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-radius: 2px;
    bottom: 17px;
}
