.root {
    border: 1px solid rgb(var(--background-color));
    width: 4rem;
    height: 2rem;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 5%;
    overflow: hidden;
    background-color: white;
    position: relative;
}

.selected {
    background-color: black;
    color: white;
}

.check {
  display: none;
}

.disabled > span:after, .disabled > span:before {
    width: 140%;
    height: 1px;
    position: absolute;
    content: "";
    background-color: black;
    z-index: 10;
    color: black;
}

.disabled > span:before {
    transform: rotate(26deg);
}

.disabled > span:after {
    transform: rotate(-26deg);
}

.root:disabled {
    color: white;
}
