.root {
    border: 1px solid rgb(var(--background-color));
    width: 5.5rem;
    height: 2rem;
    min-height: 2rem;
    background-color: white;
    composes: root from './option.css';
    padding: 0 2.2em;
}

.selected {
    background-color: black;
    color: white;
}

.check {
    display: none;
}

.disabled > span:after,
.disabled > span:before {
    width: 140%;
    height: 1px;
    position: absolute;
    content: '';
    background-color: black;
    z-index: 10;
    color: black;
}

.disabled > span:before {
    transform: rotate(20deg);
}

.disabled > span:after {
    transform: rotate(-20deg);
}

.root:disabled {
    color: white;
}

.selected > span:after,
.selected > span:before {
    background-color: white;
}
