.root {
    padding: 1.2em 0;
    box-shadow: 0 -1px rgb(var(--venia-border));
}

.header {
    display: flex;
    justify-content: space-between;
}

.helpText {
    composes: root from '../clickable.css';
    text-transform: uppercase;
    font-size: 0.8rem;
    text-decoration: underline;
}

.title {
    font-weight: bold;
}
