.root {
    background-color: rgb(var(--background-color));
    border-radius: 2px;
    border: none;
    composes: root from '../clickable.css';
    height: auto;
    margin: 1rem;
    outline: none;
    overflow: hidden;
    padding: 0 0.75rem;
    position: relative;
    width: auto;
}

button {
    cursor: pointer;
}

button div {
    background: inherit;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: inherit;
}

button:disabled span:before, button:disabled span:after {
    width: 140%;
    height: 1px;
    position: absolute;
    content: "";
    background-color: black;
    z-index: 10;
}

button:disabled span:before {
    transform: rotate(45deg);
}

button:disabled span:after {
    transform: rotate(-45deg);
}

button:disabled {
    color: black;
}

button {
  outline: none;
}

.childrenContainer, button:disabled .overlay, .root {
    min-width: 3rem;
    min-height: 3rem;
}

.check {
  display: none;
}

.childrenContainer, button:disabled .overlay, Icon {
    position: absolute;
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.children {
    position: relative;
    z-index: 2;
}

button:disabled .overlay {
    z-index: 1;
    background-color: grey;
    opacity: .5;
}
