.root {
    composes: root from '../clickable.css';
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 4%;
    justify-content: center;
    position: relative;
}

.root div {
    background: inherit;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: inherit;
    position: relative;
}

.disabled > span:after, .disabled > span:before {
    width: 140%;
    height: 1px;
    position: absolute;
    content: "";
    background-color: black;
    z-index: 10;
    color: black;
}

.disabled span:before {
    transform: rotate(45deg);
}

.disabled span:after {
    transform: rotate(-45deg);
}

.childrenContainer, .root:disabled .overlay, .root {
    min-width: 3rem;
    min-height: 3rem;
}

.check {
  display: none;
}

.childrenContainer, .root:disabled .overlay, Icon {
    position: absolute;
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.children {
    position: relative;
    z-index: 2;
}

.root:disabled .overlay {
    z-index: 1;
    background-color: grey;
    opacity: .5;
}
