.root {
    background-color: rgb(var(--background-color));
    border-color: rgba(0, 0, 0, 0.1);
    width: 4rem;
    height: 4rem;
    justify-content: center;
    display: flex;
    align-items: center;
}

.selected {
    background-color: rgb(var(--background-color));
}

.check {
  display: block;
  color: white;
  filter: drop-shadow(0px 2px 0px black);
  z-index: 10;
}

.disabled span:after, .disabled span:before {
    width: 140%;
    height: 1px;
    position: absolute;
    content: "";
    background-color: black;
    z-index: 10;
    color: black;
}

.disabled span:before {
    transform: rotate(45deg);
}

.disabled span:after {
    transform: rotate(-45deg);
}

