.root {
    border: 1px solid black;
    background-color: white;
    width: 3rem;
    height: 3rem;
    composes: root from './option.css';
}

.check {
    display: none;
}

.selected {
    background-color: black;
    color: white;
}

.selected > span:after,
.selected > span:before {
    background-color: white;
}
