.root {
    background-color: rgb(var(--background-color));
    border: none;
    width: 4rem;
    height: 4rem;
    justify-content: center;
    display: flex;
    align-items: center;
}

.selected {
    background-color: black;
    color: white;
}

.check {
  display: none;
}
