.root {
    display: grid;
    gap: 0.9375rem;
    justify-items: stretch;
}

.buttonContainer {
    align-items: center;
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    margin-top: 1rem;
    text-align: center;
}

.cancelButton {
    composes: root_lowPriority from '../../Button/button.module.css';
    border-color: var(--b2bStore-fieldInput-border-color-button);
    color: var(--b2bStore-font-normal-color);
    min-width: 9rem;
}

.submitButton {
    composes: root_highPriority from '../../Button/button.module.css';
    min-width: 9rem;
}

@media (max-width: 960px) {
    .buttonContainert {
        display: flex;
        flex-direction: column;
    }
}
