.root {
  display: block;
  line-height: 1rem;
  width: 5rem;
}

.image {
  background-image: linear-gradient(135deg, white, rgb(var(--venia-grey)));
  border: 1px solid rgb(var(--venia-border));
  border-radius: 50%;
  display: block;
  height: 5rem;
  width: 5rem;
}

.label {
  align-items: center;
  display: flex;
  font-size: 0.8125rem;
  margin: 0.5rem 0;
  justify-content: center;
  text-transform: capitalize;
}
