* {
    box-sizing: border-box;
}

html {
    --venia-border: 224, 224, 224;
    --venia-font: Muli, -apple-system, BlinkMacSystemFont, sans-serif;
    --venia-grey: 246, 246, 246;
    --venia-teal: 0, 134, 138;
    --venia-teal-alt: 224, 240, 241;
    --venia-text: 33, 33, 33;
    --venia-text-alt: 117, 117, 117;
    --venia-text-hint: 158, 158, 158;
}

html {
    background-color: white;
    font-size: 100%;
    font-weight: 400;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: white;
    color: rgb(var(--venia-text));
    margin: 0;
    padding: 0;
}

body,
input,
select,
textarea {
    font-family: var(--venia-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

a {
    color: currentColor;
    text-decoration: none;
}

p {
    margin: 0;
}

dl,
ol,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

dd,
dt {
    margin: 0;
}

button {
    background: none;
    border: 0;
    cursor: pointer;
    font-family: var(--venia-font);
    font-size: 100%;
    padding: 0;
    -webkit-appearance: none;
}


[data-title] {
    position: relative;
    cursor: help;
}

[data-title]:hover::before, [data-title]:hover::after {
    position: absolute;
    display: inline-block;
    color: #fff;
    filter: drop-shadow(1px 3px 1px rgba(0, 0 , 0, 0.3));
    animation-duration: 244ms;
    animation-name: fadein;
    animation-fill-mode: forwards;
    z-index: 10;
}


[data-title]:hover::before {
    content: attr(data-title);
    top: -43px;
    padding: 7px 18px;
    border-radius: 2px;
    font-size: 12px;
    white-space: nowrap;
    min-width: 20px;
    background: #000;
    border: 1px solid #777;
}

[data-title]:hover::after {
    content: '';
    top: -16px;
    border: 8px solid transparent;
    border-bottom: 8px solid #000;
    transform: rotate(180deg);
    filter: drop-shadow(0px -1px 0px #777);
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
