.root {
    composes: border-b-2 from global;
    composes: border-solid from global;
    composes: border-subtle from global;
    composes: grid from global;
    composes: gap-y-xs from global;
    composes: p-md from global;
    composes: rounded-md from global;
    border-width: 2px;
}

.heading {
    font-weight: 600 !important;
    margin-bottom: 0.8rem;
}

.gridWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.disabled {
    pointer-events: none;
    color: #ccc;
}

.dataPickerWrapper > span {
    margin-bottom: 0.5rem;
}

.dataPickerWrapper input {
    height: 40px;
}

.dataPickerWrapper > div > div input {
    border-width: 2px;
    border-radius: 4px;
}

.timeWrapper > span {
    margin-bottom: 0.5rem;
}

.securityCode,
.deliveryComment {
    margin-top: 0.5rem;
}
