.feature {

    /* Adds an external icon to links that open to other pages */
    a[href^='http://']:not([href*='magento.com']):after, a[href^='https://']:not([href*='magento.com']):after {
        content: '';
        margin: -3px 0 0 2px;
        display: inline-block;
        background: url(../../assets/i/icons/external.svg) no-repeat center; 
        vertical-align: middle;
        width: 16px;
        height: 16px;
    }

    img {
        width: 90px;
        height: 90px;
    }

    .title {
        padding-top: 10px;
    }
}
.feature.card{
    width: 50%;
    
    p{
        text-align: left;
        line-height: 24px;
        font-size: 14px;
    }
}