.table-of-contents {
    .stub {
        font-style: italic
    }

}

.sidebar ul {
    a,span {
        padding: 15px 15px 5px 15px;
        font-weight: bold;
        font-size: 1rem;
    }

    ul {
        a,span {
            font-size: .9rem;
            padding: 7px 20px;
            font-weight: normal;
        }

        ul {
            a,span {
                font-size: .85rem;
                padding: 5px 30px;
                color: #626366;
            }
        }
    }
}