.clearIcon {
    display: flex;
}

.optionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.875rem;
}

.optionToggleButton {
    outline: none;
}

.filterList {
    display: none;
}

.filterListExpanded {
    composes: filterList;
    display: block;
}

.closeWrapper {
    display: flex;
    justify-content: space-between;
}
