.root {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    overflow: auto;
    background-color: white;
    display: none;
}

.rootOpen {
    composes: root;
    display: block;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
}

.headerTitle {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
}

.filterOptionsContainer {
    padding: 0.5rem 1.5rem 7.5rem;
}

.searchFilterContainer {
    margin-bottom: 1.125rem;
}
