// General tiles (TODO: move this to a theme)
$column-gap: 0.75rem !default;

.columns {
  display: flex;
  flex-wrap: wrap;
  margin-left: (-$column-gap);
  margin-right: (-$column-gap);
  margin-top: (-$column-gap);
  margin-bottom: (-$column-gap);
}

.column {
  display: flex;

  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;

  padding: $column-gap;
}


// Home page sections


.home-getting-started {

  .column {
    width: 50%;
    flex-basis: 50%;

    @media ($small-screen) {
      width: auto;
      flex-basis: auto;
      padding-left: 0;
      padding-right: 0;
    }
  }
}





.home-contribute {

  .intro {
    text-align: center;
  }

  h2 {
    font-size: 40px;
    font-weight: $font-weight-light;

    @media ($small-screen) {
      font-size: 34px;
    }
  }

  .column {
    flex-basis: 33%;
    flex-grow: 0;

    p:last-child {
      margin-bottom: 0;
    }

    @media ($medium-screen) {
      flex-basis: 50%;
    }

    @media ($small-screen) {
      width: auto;
      flex-basis: auto;
      padding: 0;
    }
  }
}

dl dd {
    margin-left: 20px;
}
