.root {
    border: 2px solid var(--orienteed-primary-color-base2);
    border-radius: 0.375rem;
    padding: 2rem;
}
.cardHeader {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
}

.cardTitle {
    font-weight: 600;
}

.additional_fields_container {
    grid-column: 1 / span 1;
}
.cardBody {
    display: grid;
    font-size: 1rem;
    row-gap: 0.5rem;
    padding-top: 1.125rem;
}
.cardFooter {
    align-items: center;
    display: inline-flex;
    justify-content: flex-end;
    margin-top: 1rem;
    width: 100%;
}
.comment textarea {
    border-radius: 0;
}

.editButton {
    padding: 1rem;
    margin: -1rem;
    color: var(--orienteed-primary-color-base1);
}

.editWrapper {
    display: grid;
    padding: 1rem 0 1.5rem;
    row-gap: 0.5rem;
}

.editTitle {
    font-weight: 600;
    text-transform: uppercase;
}

.editIcon {
    stroke: var(--orienteed-primary-color-base2);
}

@media (min-width: 960px) {
}
@media (max-width: 960px) {
    .editText {
        display: none;
    }
}
