.root {
    /* composes: lg_gap-sm from global; */
    composes: grid from global;
    composes: grid-cols-auto from global;
    composes: grid-rows-auto from global;
    grid-template-areas:
        'main'
        'thumbs';
    gap: 0.3rem;
}

@media (min-width: 960px) {
    .root {
        grid-template-areas: 'thumbs main';
        /* These values are mirrored in JS for image sizes. Keep them in sync. */
        grid-template-columns: 17fr 80fr;
    }
}
@media (max-width: 959px) {
    .previousButtonDesktop,
    .nextButtonDesktop {
        display: none;
    }
    .thumbnailList {
        max-width: 100% !important;
    }
}

.carouselContainer {
    composes: grid from global;
    grid-area: main;
    grid-template-columns: repeat(3, 1fr);
}

.imageContainer {
    grid-area: 1 / 1 / 2 / 4;
}

.currentImage {
    composes: block from global;
    composes: h-full from global;
    composes: object-center from global;
    composes: object-contain from global;
    composes: w-full from global;

    composes: lg_object-top from global;
}

.currentImage_placeholder {
    composes: currentImage;

    composes: bg-subtle from global;
}

.previousButton,
.nextButton {
    composes: flex from global;
    composes: outline-none from global;
    z-index: 1;
    composes: lg_hidden from global;
}

.previousButton {
    composes: justify-start from global;
    composes: ml-sm from global;
    grid-area: 1 / 1 / 2 / 2;
}

.nextButton {
    composes: justify-end from global;
    composes: mr-sm from global;
    grid-area: 1 / 3 / 2 / 4;
}

.chevron {
    composes: root from '@magento/venia-ui/lib/components/Icon/icon.module.css';

    composes: border-2 from global;
    composes: border-solid from global;
    composes: border-transparent from global;
    composes: self-center from global;
}

/* TODO @TW: cannot compose */
.nextButton:focus > .chevron,
.previousButton:focus > .chevron {
    box-shadow: 0 0 4px 2px var(--orienteed-primary-color-base1);
    border-radius: 0.5rem;
}

.thumbnailList {
    max-width: 50%;
    composes: content-stretch from global;
    composes: gap-xs from global;
    composes: grid from global;
    composes: grid-cols-carouselThumbnailList from global;
    composes: grid-flow-col from global;
    composes: justify-center from global;
    composes: mt-xs from global;
    composes: lg_content-start from global;
    composes: lg_gap-sm from global;
    composes: lg_grid-cols-[1fr] from global;
    composes: lg_grid-flow-row from global;
    composes: lg_mt-0 from global;
}

.carouselContainer > div {
    grid-area: 1 / 1 / 2 / 4;
    margin: 0 auto;
}

.carouselContainer > div div:nth-child(3) {
    box-shadow: 0 0 10px 0 #fbe4a4;
}
