.root {
    border: 1px solid rgb(var(--venia-text));
    border-radius: 50%;
    height: 0.875rem;
    width: 0.875rem;
    box-shadow: 0 0 0 1px #ffffff;
    outline: none;
}

.rootSelected {
    composes: root;
    background-color: rgb(var(--venia-text));
}

@media (min-width: 1024px) {
    .root {
        border: 0;
        border-radius: 0;
        height: auto;
        width: auto;
    }
}

.image {
    display: none;
}

@media (min-width: 1024px) {
    .image {
        background-color: rgb(var(--venia-grey));
        border-radius: 2px;
        box-shadow: 0 0 0 1px white;
        display: block;
        height: auto;
        width: 100%;
    }
}
