.Header {
  background-color: var(--rush-gray);
}

.Header-toolbar {
  align-items: center;
  display: grid;
  grid-row-gap: 0.5rem;
  grid-template-areas:
    "primary title secondary"
    "search search search";
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 3rem 4rem;
  justify-items: center;
  padding: 0 1rem;
}

.Header-navTrigger,
.Header-cartTrigger {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 3rem;
  width: 3rem;
}

.Header-title {
  font-family: Times, serif;
  font-size: 1rem;
  grid-area: title;
  margin: 0;
  text-transform: uppercase;
}

.Header-primaryActions {
  grid-area: primary;
  justify-self: start;
}

.Header-secondaryActions {
  grid-area: secondary;
  justify-self: end;
}

.Header-navTrigger {
  cursor: pointer;
  order: -1;
}

.Header-searchBlock {
  align-items: center;
  display: flex;
  flex: none;
  grid-area: search;
  justify-content: center;
  order: 1;
  padding: 0 0.5rem 1rem;
  width: 100%;
}

.Header-searchBlock-input {
  border: 1px solid rgb(226, 226, 226);
  border-radius: 6px;
  font-size: 1rem;
  height: 3rem;
  padding: 0 1.5rem;
  width: 24rem;
  -webkit-appearance: none;
}
