.container {
    margin-top: 10px;
}

.container p {
    color: red;
    text-align: center;
}

.dropContainer {
    margin: 0;
    border: 4px dashed var(--orienteed-global-color-orange);
    min-height: 160px;
}

.uploadIcon {
}

.dropMessage {
    text-align: center;
    color: rgb(var(--venia-global-color-text));
    font-family: Arial;
    font-size: 20px;
}

.fileDisplayContainer {
    padding: 2rem;
}

.uploadIcon {
    width: 50px;
    height: 50px;
    background: url(../images/upload.png) no-repeat center center;
    background-size: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
    margin-top: 1rem;
}

.fileStatusBar {
    width: 100%;
    vertical-align: top;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    line-height: 50px;
    height: 50px;
}

.fileStatusBar > div {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.fileType {
    display: inline-block !important;
    position: absolute;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    line-height: 13px;
    margin-top: 25px;
    padding: 0 4px;
    border-radius: 2px;
    box-shadow: 1px 1px 2px #abc;
    color: #fff;
    background: #0080c8;
    text-transform: uppercase;
}

.fileName {
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    color: #4aa1f3;
    cursor: pointer;
}

.fileInput {
    display: none;
}

.fileError {
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    color: #9aa9bb;
}

.fileErrorMessage {
    color: red;
}

.fileTypeLogo {
    width: 50px;
    height: 50px;
    background: url(../images/generic.png) no-repeat center center;
    background-size: 100%;
    position: absolute;
}

.fileSize {
    display: inline-block;
    vertical-align: top;
    color: #30693d;
    margin-left: 10px;
    margin-right: 5px;
    margin-left: 10px;
    color: rgb(var(--venia-global-color-text));
    font-weight: 700;
    font-size: 14px;
}

.fileRemove {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 10px;
    right: 10px;
    line-height: 15px;
    cursor: pointer;
    margin-right: -10px;
    background: url(../images/remove.png) no-repeat center center;
}

.modal {
    z-index: 999;
    display: none;
    overflow: hidden;
}

.modal .overlay {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.66);
    position: fixed;
    top: 50px;
    left: 0;
}

.modal .modalImage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.close {
    position: fixed;
    cursor: pointer;
    top: 110px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.fileUploadBtn {
    color: white;
    text-transform: uppercase;
    outline: none;
    border-radius: var(--b2bStore-border-radius);
    background-color: var(--orienteed-global-color-orange);
    font-weight: bold;
    padding: 8px 15px;
    margin-bottom: 5px;
}
