.content {
    padding: 5%;
}

.content .title {
    font-size: 28px;
    display: block;
    margin-bottom: 60px;
    text-align: center;
}

.content .formContent {
    width: 80%;
    margin: 0 auto;
}

.content .formContent .section {
    border: 1px solid lightgray;
    border-radius: 12px;
    margin-bottom: 60px;
    padding: 5%;
}

.content .formContent .section .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content .formContent .section .row input {
    width: 90%;
    padding-left: calc(1.875rem * var(--iconsBefore) + 0.625rem);
    padding-right: calc(1.875rem * var(--iconsAfter) + 0.625rem);
    flex: none;
}

.content .formContent .section .titleSection {
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
    font-weight: 600;
}

.comboCountry {
    background: white;
    border: 2px solid rgb(var(--venia-global-color-gray-600));
    border-radius: 6px;
    color: rgb(var(--venia-global-color-text));
    display: inline-flex;
    flex: 0 0 100%;
    font-size: 1rem;
    height: 2.5rem;
    margin: 0;
    max-width: 100%;
    padding: calc(0.375rem - 1px) calc(0.625rem - 1px);
    width: 100%;
    -webkit-appearance: none;
}

.comboCountry {
    grid-area: input-start / input-start / input-end / icon-end;
    padding-right: calc(2.25rem - 1px);
}

.root {
    display: inline-grid;
    grid-auto-flow: column;
    grid-template-areas: 'before input after';
    grid-template-columns: auto 1fr auto;
    height: 2.5rem;
    width: 90%;
}

.input {
    align-items: center;
    display: flex;
    grid-column: before-start / after-end;
    grid-row: input-start / input-end;
}

.before:empty,
.after:empty {
    display: none;
}

.before,
.after {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 2px;
    pointer-events: none;
    width: 2.5rem;
    z-index: 1;
}

.after {
    grid-area: after;
}

.icon {
    --stroke: rgb(var(--venia-global-color-text));
    align-items: center;
    display: inline-flex;
    justify-content: center;
    touch-action: manipulation;
}

.iconContent {
    fill: var(--fill, none);
    stroke: var(--stroke);
}

@media only screen and (max-width: 980px) {
    .content .formContent .section .row {
        display: block;
    }
}

.formErrors {
    border-color: rgb(var(--venia-global-color-error));
    border-style: solid;
    border-width: 0 0 0 0;
    display: grid;
    grid-column: 1 / span 1;
    margin-bottom: 20px;
}

.formSuccess {
    color: rgb(66, 186, 150);
    border-color: rgb(66, 186, 150);
    border-style: solid;
    border-width: 0 0 0 0;
    display: grid;
    grid-column: 1 / span 1;
    margin-bottom: 20px;
}
