.content {
    padding: 0 5%;
    margin-bottom: 40px;
}

.incidencesContainer {
    display: grid;
    padding: 5%;
}

.incidencesHeader {
    text-align: center;
}

.formContent {
}

.information {
    padding: 5%;
}

.thumbnail {
    height: 75px;
    max-height: 75px;
    object-fit: contain;
    object-position: center;
}

.galleryImage {
    max-width: 160px;
    justify-self: center;
}

.referencesContainer {
}

.informationRow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding: 0px 2rem;
}

.incidencesTitle {
    font-size: 18px;
    display: block;
    margin-bottom: 1rem;
    font-weight: bold;
    padding: 0px 2rem;
}

.incidencesTitleHeader {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 24px;
}

.itemRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    padding: 0px 2rem;
}

.itemHeader {
    border-bottom: 2px solid rgb(var(--venia-global-color-gray-600));
    margin-bottom: 1rem;
}

.itemTitle {
    font-size: 18px;
    display: block;
    margin-bottom: 1rem;
    font-weight: bold;
    padding: 0px 2rem;
}

.textAreaContainer {
    padding: 0px 2rem;
}

.incidenceContainer {
    width: 100%;
    border: 2px solid rgb(var(--venia-global-color-gray-600));
    min-height: 50px;
    margin-top: 50px;
    padding: 1rem 0 2rem 0;
}

.incidenceActionsContainer {
    max-height: 50px;
    margin-top: 50px;
}

.incidenceAction {
    height: 50px;
    width: 50px;
    display: block;
    border: 2px solid var(--orienteed-global-color-orange);
    border-radius: 25px;
    margin: 0 auto;
}

.incidenceAction:hover {
    background-color: rgb(var(--venia-brand-color-1-100));
}

.orderNumber {
    margin-left: 10px;
    font-size: 22px;
    font-weight: bold;
    color: var(--orienteed-global-color-orange);
}

.submitIncidence {
    width: 20%;
    min-width: 200px;
    margin: 0 auto;
}

.submitIncidence .submitIncidence span {
    color: white;
}

.icon {
    width: 50%;
    margin: 0 auto;
}

.hide {
    display: none;
}
