.root {
    padding: 1rem;
}

.header {
    margin-bottom: 2rem;
    text-align: center;
}

.title {
    text-transform: uppercase;
}

.content {
    display: grid;
    grid-gap: 3rem 1rem;
    grid-template-columns: repeat(3, 25vw);
    justify-content: center;
}

.fetchError {
    background-color: rgb(var(--venia-warning-light));
    color: rgb(var(--venia-warning-dark));
}

.fetchingData {
    color: rgb(--venia-grey);
}

.noResults {
    composes: fetchingData;
}

:export {
    tileImageSizes: (max-width: 480px) 6rem, (max-width: 1024px) 12rem,
        (min-width: 1025px) 25vw;
}

@media screen and (max-width: 1024px) {
    .content {
        grid-template-columns: repeat(auto-fit, 12rem);
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    .content {
        grid-template-columns: repeat(auto-fit, 6rem);
        justify-content: space-evenly;
    }
}
