.root {
    display: block;
    line-height: 1rem;
    text-align: center;
    width: 6rem;
}

.imageWrapper {
    background-image: var(--venia-image);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgb(var(--venia-border));
    display: block;
    height: 5rem;
    margin: 0 auto 1rem auto;
    width: 5rem;
}

.image {
    height: 100%;
    opacity: 0;
    width: 100%;
}

.name {
    display: block;
}
