.root {
    display: block;
    line-height: 1rem;
    text-align: center;
}

.imageWrapper {
    background-image: var(--venia-category-tile-image);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgb(var(--venia-border));
    display: block;
    margin: 0 auto 1rem auto;
    height: 20vw;
    width: 20vw;
}

.image {
    height: auto;
    opacity: 0;
    width: 100%;
}

.name {
    display: block;
}

@media screen and (max-width: 1024px) {
    .imageWrapper {
        width: 12rem;
        height: 12rem;
    }
}

@media screen and (max-width: 480px) {
    .imageWrapper {
        width: 6rem;
        height: 6rem;
    }
}
