.input {
    composes: input from '../Field/field.module.css';
}

.input:disabled {
    color: rgb(var(--b2bStore-fieldInput-border-color));
}

.input_error {
    composes: input from '@magento/venia-ui/lib/components/Field/field.module.css';
    border-color: rgb(var(--venia-global-color-red-400));
}
