.input {
    background: white;
    border: 1px solid rgb(var(--venia-text-alt));
    border-radius: 2px;
    color: rgb(var(--venia-text));
    display: inline-flex;
    flex: 0 0 100%;
    font-size: 1rem;
    height: 2.25rem;
    margin: 0;
    padding: calc(0.375rem - 1px) calc(0.625rem - 1px);
    width: 100%;
    -webkit-appearance: none;
}

.input:focus {
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
    outline: none;
}

.message {
    composes: message from '../Field/field.css';
}
