.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0.875rem 1.75rem 0;
}

.itemsContainer {
    display: flex;
    flex-direction: column;
}

.item {
    border-bottom: 1px solid rgb(var(--venia-athens-gray));
}
.item:first-child {
    border-top: 1px solid rgb(var(--venia-athens-gray));
}

.filterContainer {
    margin-bottom: 0.875rem;
}
