.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0 1.75rem;
    margin: 0 auto;
    max-width: 60rem;
}

.itemsContainer {
    display: flex;
    flex-direction: column;
}

.item {
    border-bottom: 1px solid rgb(var(--venia-border));
}
.item:first-child {
    border-top: 1px solid rgb(var(--venia-border));
}

.filterContainer {
    margin: 1rem 0;
}
