.root {
    composes: root from '../clickable.css';
    border: 1px solid rgb(var(--venia-text));
    border-radius: 2px;
    height: 3rem;
    margin-left: 1rem;
    margin-top: 1rem;
    min-width: 3rem;
    padding: 0 0.75rem;
}

@media (min-width: 1024px) {
    .root {
        height: 2rem;
        min-width: 2rem;
        padding: 0 0.5rem;
    }
}

.root_selected {
    composes: root;
    background-color: rgb(var(--venia-text));
    color: white;
}
.root_focused {
    composes: root;
}
.root_selected_focused {
    composes: root_selected;
}
