.billing_address_fields_root {
    composes: gap-x-xs from global;
    composes: gap-y-sm from global;
    composes: grid from global;
    composes: px-0 from global;
    composes: py-xs from global;
}

.billing_address_fields_root_hidden {
    composes: h-0 from global;
    composes: invisible from global;
    composes: opacity-0 from global;
    composes: overflow-hidden from global;
}

.formErrorContainer {
    composes: pt-sm from global;
}

.last_name {
    display: none;
}

.heading {
    font-weight: 600 !important;
    margin-bottom: 0.8rem;
}

.formContainer > div div label {
    font-size: 1rem;
    font-weight: 500;
}
