.root {
    font-size: 0.8125rem;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    z-index: 1;
    position: absolute;
    top: 100%;
    margin: 0.5rem 1.5rem;
    padding: 1rem 0;
    text-align: left;
    left: 0;
    right: 0;
}
