.hidden {
    opacity: 0;
    transform: translate3d(0, -2rem, 0);
    transition-duration: 192ms;
    transition-timing-function: var(--venia-global-anim-out);
    visibility: hidden;
}

.visible {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition-duration: 224ms;
    transition-timing-function: var(--venia-global-anim-in);
    visibility: visible;
}

.root {
    background-color: white;
    border: 2px solid var(--b2bStore-fieldInput-border-color-button);
    border-radius: 0 0 6px 6px;
    border-top-style: none;
    box-shadow: -6px 6px rgba(var(--orienteed-global-color-orange-op), 0.5);
    display: grid;
    font-size: 0.8125rem;
    gap: 0.75rem;
    left: 0;
    padding: 1rem 1rem;
    position: absolute;
    right: 0;
    top: 2.25rem;
    transition-property: opacity, transform, visibility;
    z-index: 2;
    max-height: 75vh;
    overflow: auto;
}

.root_hidden {
    composes: root hidden;
}

.root_visible {
    composes: root visible;
}

.message {
    color: rgb(var(--venia-global-color-text-alt));
    padding: 0 0.75rem;
    text-align: center;
}

.message:empty {
    padding: 0;
}

.suggestions {
    display: grid;
    gap: 0.5rem;
}

.suggestions:empty {
    display: none;
}
