.root {
    background-color: rgb(var(--venia-grey));
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    transition-property: opacity, transform, height, padding;
}

.searchBlock {
    composes: root;
    opacity: 0;
    height: 0;
    padding: 0 2rem 0 0.5rem;
    transform: translate3d(0, -100%, 0);
    transition-duration: 192ms;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    pointer-events: none;
}

.searchBlockOpen {
    composes: root;
    opacity: 1;
    height: 4rem;
    padding: 0 2rem 1rem 0.5rem;
    transform: translate3d(0, 0, 0);
    transition-duration: 224ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    pointer-events: all;
}

.searchBar {
    border: 1px solid rgb(var(--venia-border));
    border-radius: 6px;
    font-size: 1rem;
    height: 3rem;
    padding: 0 2.5rem;
    width: 24rem;
    -webkit-appearance: none;
}

.searchIcon {
    position: relative;
    left: 2.2rem;
    cursor: pointer;
}
