.root {
    background-color: rgb(var(--venia-grey));
    transition-property: opacity, transform, height, padding;
    text-align: center;
}

.searchBlock {
    composes: root;
    opacity: 0;
    height: 0;
    padding: 0 0.5rem 0 0.5rem;
    transform: translate3d(0, -100%, 0);
    transition-duration: 192ms;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    pointer-events: none;
}

.searchInner {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 24rem;
    width: 100%;
}

.searchBlockOpen {
    composes: root;
    opacity: 1;
    height: 4rem;
    padding: 0 0.5rem 1rem 0.5rem;
    transform: translate3d(0, 0, 0);
    transition-duration: 224ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    pointer-events: all;
}

.searchBar {
    border: 1px solid rgb(var(--venia-border));
    border-radius: 6px;
    font-size: 1rem;
    height: 3rem;
    padding: 0 3rem;
    width: 100%;
    border-radius: 2rem;
    -webkit-appearance: none;
}

.searchBar::-webkit-search-cancel-button {
    display: none;
}

.searchIcon {
    position: absolute;
    height: 50%;
    left: 0.75rem;
    cursor: pointer;
}

.clearIcon {
    opacity: 0;
    position: absolute;
    height: 50%;
    color: rgb(var(--venia-text));
    right: 0.75rem;
    cursor: pointer;
    transition-property: opacity;
    transition-duration: 192ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    cursor: auto;
    pointer-events: none;
}

.clearIconOpen {
    composes: clearIcon;
    opacity: 1;
    cursor: pointer;
    pointer-events: all;
}

.autocompleteWrapper {
    text-align: left;
    margin: 0.5rem 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}
