.root {
    align-content: start;
    align-items: center;
    display: grid;
    grid-gap: 0.375rem 1rem;
    grid-template-areas: 'image name price';
    grid-template-columns: 60px 1fr;
    grid-template-rows: min-content;
    padding-bottom: 1rem;
}

.root:last-child {
    padding-bottom: 0;
}

.productImage {
    display: block;
    height: auto;
    width: 100%;
}

.productName {
    padding-right: 50%;
    word-break: break-word;
}
