.root {
    align-content: center;
    align-items: center;
    display: grid;
    gap: 3rem;
    height: calc(100% - 6rem);
    justify-content: center;
    justify-items: center;
    margin: 3rem 0;
    width: 100%;
}

.message {
    color: rgb(var(--venia-text-alt));
    font-size: 1rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
}
