.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 14px 28px 0;
}

.itemsContainer {
    display: flex;
    flex-direction: column;
}

.item {
    border-bottom: 1px solid #ececed;
}

.item:first-child {
    border-top: 1px solid #ececed;
}

.filterContainer {
    margin-bottom: 15px;
}
