.root {
    display: flex;
    align-items: center;
}

.userInformationContainer {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1rem;
}

.email {
    color: rgb(var(--venia-text-alt));
    font-size: 0.8125rem;
    line-height: 1rem;
}

.iconContainer {
    margin: 0 1rem 0 1.25rem;
}
