.root {
    display: inline-block;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
    margin-top: 2px;
    position: relative;
}

.dropdown {
    align-items: center;
    box-shadow: 0 0 1px rgb(0, 0, 0, 0.2);
    display: grid;
    position: absolute;
    right: 2px;
    top: 0;
    transition: 256ms ease-out;
    transform: scale(0);
    transform-origin: 100% 0;
    z-index: 3;
}

.dropdown_active {
    composes: dropdown;
    position: absolute;
    transform: scale(1);
    transition: 250ms var(--venia-anim-bounce);
}

.dropdown li {
    display: block;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid rgb(var(--venia-border));
}

.dropdown li:hover {
    background-color: #eee;
}

.kebab {
    outline: 0;
    border: none;
    background-color: #fff;
}
