.root {
}

.body {
    composes: body from './flow.css';
}

.footer {
    composes: footer from './flow.css';
}

.informationPrompt {
    color: rgb(var(--venia-orange));
    text-transform: capitalize;
}
.informationPrompt--disabled {
    color: rgb(var(--venia-text-hint));
    text-transform: capitalize;
}

@keyframes enter {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
