.root {
    background-color: white;
    box-shadow: 0 -1px rgb(var(--venia-border)), 0 -1px 6px rgb(0, 0, 0, 0.2);
    left: 0;
    min-height: 8rem;
    position: absolute;
    right: 0;
    top: 100vh;
    transform: translate3d(0, -100%, 0);
}

.footer {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 1.5rem;
    padding: 1.5rem 0 1rem;
}
