.root {
}

.body {
    composes: body from './flow.css';
}

.footer {
    composes: footer from './flow.css';
}

.informationPrompt {
    color: rgb(var(--venia-error));
    text-transform: capitalize;
}

.paymentDisplayPrimary {
    text-transform: capitalize;
}

.paymentDisplaySecondary {
    /* The ::first-letter pseudo element below only works on block elements */
    display: block;
    text-transform: lowercase;
}
.paymentDisplaySecondary::first-letter {
    text-transform: uppercase;
}

@keyframes enter {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
