.root {
}

.body {
    composes: body from './form.css';
    grid-gap: 0.5rem;
    max-height: calc(
        var(--minicart-height) - var(--minicart-header-height) -
            var(--flow-footer-height)
    );
    overflow-y: scroll;
    padding: 0 1.5rem;
}

.footer {
    composes: footer from './form.css';
}

.heading {
    font-size: 0.875rem;
    font-weight: 600;
    grid-column-end: span 2;
    line-height: 1rem;
    padding: 0.75rem 0;
    text-align: center;
    text-transform: uppercase;
}

.textInput {
    background: white;
    border: 1px solid rgb(var(--venia-text-alt));
    border-radius: 2px;
    color: rgb(var(--venia-text));
    display: inline-flex;
    flex: 0 0 100%;
    font-size: 0.9375rem;
    height: 2.25rem;
    padding: calc(0.375rem - 1px) calc(0.625rem - 1px);
    width: 100%;
}

.textInput:focus {
    border-color: rgb(var(--venia-text));
    outline: 0 none;
}

/* Fields. */

.city,
.region_code {
    grid-column-end: span 1;
}

.address_check,
.braintree,
.postcode,
.street0 {
    grid-column-end: span 2;
}

/* Braintree-specific styles. */

/*
 * On error, the Braintree container increases in height
 * in order to show an error message.
 *
 * Unfortunately because of a z-index on an internal element (the one
 * selected below), it overlaps and displays above the minicart heading.
 *
 * Here we unset the z-index on the braintree internal element to cause it
 * to scroll behind the minicart heading, as intended.
 */
[data-braintree-id='upper-container'] {
    z-index: unset;
}
