:global * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:global body {
    font-family: 'Muli';
}

:global button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'Muli';
    -webkit-appearance: none;
}

:global #root {
    display: grid;
    grid-template-columns: minmax(max-content, 1080px);
    justify-content: center;
    padding-left: 256px;
}

@media (max-width: 960px) {
    :global #root {
        padding-left: 0;
    }
}
