@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.gallery-item-image,
.gallery-item-name,
.gallery-item-price {
  margin: 0.5rem 0;
}

.gallery-item-image img {
  display: block;
  height: auto;
  width: 100%;
}

.gallery-item[data-loaded="true"] {
  animation: 512ms ease-out fadeIn;
}

.gallery-item[data-loaded="false"] .gallery-item-image {
  background-color: #eee;
}

.gallery-item[data-loaded="false"] .gallery-item-name {
  background-color: #eee;
  height: 1.25rem;
}

.gallery-item[data-loaded="false"] .gallery-item-price {
  background-color: #eee;
  height: 1.25rem;
  width: 3rem;
}

.gallery-items {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
