.root {
    composes: root from '../clickable.css';
    background: none;
    border: 1px solid rgb(var(--color));
    border-radius: 1.5rem;
    font-size: 0.75rem;
    font-weight: 600;
    height: 2rem;
    min-width: 7.5rem;
    padding: 0 1rem;
    --color: var(--venia-text);
}

.priority-normal {
    color: rgb(var(--color));
}

.priority-high {
    background-color: rgb(var(--color));
    color: white;
}

.contrast-normal {
    --color: var(--venia-teal);
}

.contrast-high {
    --color: var(--venia-text);
}

.root:disabled {
    pointer-events: none;
    --color: var(--venia-grey-dark);
}

.content {
    align-items: center;
    display: inline-grid;
    gap: 0.5rem;
    grid-auto-flow: column;
    justify-content: center;
    justify-items: center;
}

/* derived classes */

.root_priority-normal {
    composes: root priority-normal;
}
.root_priority-high {
    composes: root priority-high;
}
.root_priority-normal_contrast-normal {
    composes: root priority-normal contrast-normal;
}
.root_priority-high_contrast-normal {
    composes: root priority-high contrast-normal;
}
.root_priority-normal_contrast-high {
    composes: root priority-normal contrast-high;
}
.root_priority-high_contrast-high {
    composes: root priority-high contrast-high;
}
