.root {
    composes: root from '@magento/venia-ui/lib/components/clickable.module.css';
    --stroke: var(--orienteed-primary-color-base2);
    background: none;
    border-color: rgb(var(--stroke));
    border-style: solid;
    border-width: 2px;
    color: rgb(var(--stroke));
    max-width: 100%;
    min-width: 10rem;
    min-height: 2.5rem;
    outline: none;
    padding: calc(0.5rem + 1px) 1.5rem calc(0.5rem - 1px);
    transition-duration: 256ms;
    transition-property: background-color, border-color, color;
    transition-timing-function: var(--venia-global-anim-standard);
    border-radius: var(--b2bStore-border-radius-button);

    /* Figma rules */
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-transform: none;
    /* Original rules */
    /* font-size: var(--venia-global-fontSize-100); */
    /* font-weight: var(--venia-global-fontWeight-bold); */
    /* line-height: 1.25rem; */
    /* text-transform: uppercase; */
}

.root:hover {
    --stroke: var(--orienteed-primary-color-base1);
}

.root:focus {
    box-shadow: -6px 6px var(--orienteed-primary-color-base2);
}

.root:active {
    transition-duration: 128ms;
    --stroke: var(--orienteed-primary-color-base1);
}

/**
 * Some browsers retain the :hover state after a click, this ensures if a button becomes disabled after
 * being clicked it will be visually disabled.
 */
.root:disabled,
.root:hover:disabled {
    pointer-events: none;
    --stroke: var(--venia-global-color-gray-400);
    opacity: 0.4;
}

.content {
    align-items: center;
    display: inline-grid;
    gap: 0.35rem;
    grid-auto-flow: column;
    justify-content: center;
    justify-items: center;
}

/* derived classes */
/* HIGH PRIORITY */
.root_highPriority {
    composes: root;
    /* background-color: rgb(var(--stroke)); */
    background-color: var(--orienteed-primary-color-base1);
    border: none;
    width: 100%;
    color: rgb(var(--venia-global-color-gray-50));
}

.root_highPriority:focus {
    box-shadow: -6px 6px rgba(var(--orienteed-global-color-orange-op), 0.3);
}

.root_highPriorityNegative {
    composes: root_highPriority;
    --stroke: var(--venia-global-color-red-700);
}

.root_highPriorityNegative:hover {
    --stroke: var(--venia-global-color-red-800);
}

/* HIGH PRIORITY REVERSE*/
.root_highPriorityInv {
    composes: root;
    /* background-color: rgb(var(--stroke)); */
    color: var(--orienteed-primary-color-base1);
    border: 2px solid var(--orienteed-primary-color-base1);
    width: 100%;
}

.root_highPriorityInv:focus {
    box-shadow: -6px 6px rgba(var(--orienteed-global-color-orange-op), 0.3);
}

.root_highPriorityNegativeInv {
    composes: root_highPriority;
    --stroke: var(--venia-global-color-red-700);
}

.root_highPriorityNegativeInv:hover {
    --stroke: var(--venia-global-color-red-800);
}

/* NORMAL PRIORITY */
.root_normalPriority {
    composes: root;
    border: 2px solid var(--b2bStore-fieldInput-border-color-button);
    width: 100%;
    color: var(--b2bStore-font-normal-color);
}

.root_normalPriority:focus {
    box-shadow: -6px 6px rgba(var(--orienteed-global-color-gray-op), 0.3);
}

.root_normalPriorityNegative {
    composes: root_normalPriority;
    --stroke: var(--b2bStore-fieldInput-border-color-button);
}

.root_normalPriorityNegative:hover {
    --stroke: var(--venia-global-color-red-800);
}

/* LOW PRIORITY */
.root_lowPriority {
    composes: root;
    --stroke: var(--b2bStore-fieldInput-border-color-button);
}
.root_lowPriority:hover {
    --stroke: var(--orienteed-primary-color-base3);
}
.root_lowPriorityNegative {
    composes: root_lowPriority;
    --stroke: var(--venia-global-color-red-700);
}
.root_lowPriorityNegative:hover {
    --stroke: var(--venia-global-color-red-800);
}
