.root {
    composes: root from '../clickable.css';
    background-color: white;
    border: 1px solid black;
    border-radius: 6.25rem;
    color: black;
    font-size: 0.875rem;
    height: 2.125rem;
    min-width: 9rem;
    padding: 0 1.5rem;
    transition: opacity 256ms linear;
}

.rootFilled {
    composes: root;
    background-color: black;
    color: white;
}

.root[disabled] {
    filter: grayscale(1);
    opacity: 0.38;
    pointer-events: none;
}

.content {
    align-items: center;
    display: inline-grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    grid-gap: 0.5rem;
    grid-template-rows: auto;
    justify-content: center;
    justify-items: center;
}
