.root {
    composes: root from 'src/components/clickable.css';
    background-color: #00898d;
    border: 1px solid currentColor;
    border-radius: 1.5rem;
    color: rgb(var(--venia-white));
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    height: 3rem;
    min-width: 180px;
    padding: 0 1.5rem;
    transition: opacity 256ms linear;
}
