.root {
    align-items: center;
    display: inline-flex;
    justify-content: stretch;
}

.input {
    background-color: white;
    border: 1px solid rgb(var(--venia-text-alt));
    border-radius: 2px;
    color: rgb(var(--venia-text));
    flex: 0 0 100%;
    font-size: 1rem;
    height: 2.25rem;
    line-height: 1.5;
    max-width: 100%;
    padding: calc(0.375rem - 1px) calc(.625rem - 1px);
    width: 100%;
}
