.root {
    color: rgb(var(--venia-global-color-text));
    display: grid;
    align-content: start;
}

.label {
    align-items: center;
    display: flex;
    font-size: 1rem;
    font-weight: var(--venia-global-fontWeight-semibold);
    justify-content: space-between;
    line-height: 1rem;
    padding: 0.5625rem 0.125rem;
    min-height: 2.125rem;
}

.input_base {
    border-radius: 8px;
    font-size: 1rem;
    height: 2.5rem;
    margin: 0;
    max-width: 100%;
    padding: calc(0.375rem - 1px) calc(0.625rem - 1px);
    width: 100%;
}

.input {
    composes: input_base;
    background: white;
    border: 2px solid var(--b2bStore-fieldInput-border-color);
    color: rgb(var(--venia-global-color-text));
    display: inline-flex;
    flex: 0 0 100%;
    -webkit-appearance: none;
}

.input:disabled {
    background: rgb(var(--venia-global-color-gray-100));
    border-color: rgb(var(--venia-global-color-gray-400));
    color: rgb(var(--venia-global-color-gray-darker));
}

.input:focus {
    box-shadow: -6px 6px rgba(var(--orienteed-global-color-orange-op), 0.5);
    outline: none;
}

.optional {
    color: rgb(var(--venia-global-color-gray-700));
    font-size: var(--venia-global-fontSize-100);
    font-weight: var(--venia-global-fontWeight-normal);
}
