.root {
    color: rgb(var(--venia-text));
    display: block;
}

.root:active,
.root:focus-within {
    color: rgb(var(--venia-teal));
    font-weight: 600;
}

.label {
    align-items: center;
    display: inline-flex;
    font-size: 0.875rem;
    line-height: 1rem;
    padding: 0.125rem 0.125rem 0.25rem;
}

.message {
    color: rgb(var(--venia-error));
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1rem;
    padding: 0.25rem 0.125rem 0.125rem;
}
