.root {
    color: rgb(var(--venia-text));
    display: block;
}

.label {
    align-items: center;
    display: inline-flex;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1rem;
    padding: 0.125rem 0.125rem 0.375rem;
}

.message {
    color: rgb(var(--venia-error));
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1rem;
    padding: 0.375rem 0.125rem 0.125rem;
}

.message:empty {
    display: none;
}
