.tabPanel {
    display: none;
}

.tabPanelSelected {
    display: block;
}

[data-content-type='tab-item']:empty {
    display: none !important; /* Necessary because of inline styles; to be fixed in MC-18326 */
}
