$body-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
//$body-font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;

$font-size-base: 1rem;
$font-size-lg:   1.25rem;
$font-size-sm:   .875rem;
$font-size-xsm:   .7rem;

$font-weight-light: 300;
$font-weight-normal: normal;
$font-weight-medium: 500;
$font-weight-bold: bold;

$line-height-base: 1.5;

$spacing: 5px;

$sidebar-width: 270px;
$page-info-width: 200px;

$header-height: $spacing*11;


// Breakpoints
$small-screen: 'max-width: 768px';
$medium-screen: 'max-width: 1023px';
$medium-to-large-screen: 'max-width: 1200px';
$large-screen: 'min-width: 1500px';





// Colors
$brand-color: #F26322;
$body-font-color: #2b2b2c;
$accent-color: #26A2AA;

$light-gray-color: #F1F1F1;
$dark-gray-color: #888;
$beige-color: #CAC3B4;

$footer-color: #A6ABB0;
$footer-link-color: #D8D9DA;
$footer-background-color: #31302B;


$link-color: #1572D0;
$link-hover-color: #cc0000;
$link-active-color: #EC632E;
$link-visited-color: #609;

$border-color: #d2d2d2;


// buttons
$btn-color: $body-font-color;
$btn-bg-color: #ccc;

$btn-primary-color: #fff;
$btn-primary-bg-color: $brand-color;






// Dropdown

$dropdown-bg: #fff;
$dropdown-border-color: #ccc;
$dropdown-border-width: 1px;
$dropdown-divider-bg: #e5e5e5;

$dropdown-link-color: $body-font-color;
$dropdown-link-hover-color: $body-font-color;
$dropdown-link-hover-bg: #f2f3f3;

$dropdown-link-active-color: $link-color;
$dropdown-link-active-bg: $link-color;

$dropdown-link-disabled-color: #ccc;
$dropdown-header-color: #ccc;

$caret-width: .3em;
$caret-width-lg: $caret-width;

$border-radius: 0;
$line-height: 1.3;




$transition-duration: .2s;


// Z Index

$zindex-appbar: 1000;
$zindex-nav-fader: 900;
$zindex-dropdown: 9999;
