.root {
    --color: var(--venia-brand-color-1-700);
    background: none;
    background-color: rgb(var(--color) / 0);
    border-color: rgb(var(--color));
    border-radius: 1.5rem;
    border-style: solid;
    border-width: 2px;
    color: rgb(var(--color));
    font-size: var(--venia-global-text-fontSize-100);
    font-weight: var(--venia-global-text-fontWeight-bold);
    height: 2.5rem;
    line-height: var(--venia-global-text-lineHeight-300);
    max-width: 100%;
    min-width: 10rem;
    outline: none;
    padding: 0.125rem 1.75rem 0;
    text-transform: uppercase;
    transition-duration: 256ms;
    transition-property: background-color, border-color, color;
    transition-timing-function: var(--venia-global-anim-standard);
}

.root:hover {
    --color: var(--venia-brand-color-1-500);
}

.root:focus {
    --color: var(--venia-global-color-green-500);
}

.root--priority-high {
    composes: root;
    background-color: rgb(var(--color) / 1);
    color: rgb(var(--venia-global-color-gray-50));
}

.root--priority-normal {
    composes: root;
}

.content {
    min-width: 0;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}
