.root {
    background-color: white;
    bottom: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100vh;
    left: 0;
    padding-top: 3.5rem;
    position: absolute;
    right: 0;
}

.body {
    padding: 1.5rem 1rem 1rem;
}

.footer {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 1.5rem;
    padding: 1rem 0;
}

.textBlock {
    margin: 24px 0 24px;
    line-height: 29px;
}

.orderId {
    color: #22a1a8;
    text-decoration: underline;
}
