* {
  box-sizing: border-box;
}

html {
  background-color: white;
  color: black;
  font-family: Muli, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  --rush-gray: rgb(246, 246, 246);
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

a {
  text-decoration: none;
}

p {
  margin: 1rem 0;
}

button {
  background: none;
  border: 0;
  font-size: 100%;
  -webkit-appearance: none;
}
