.root {
    display: grid;
    grid-template-columns: minmax(9rem, 1fr) minmax(9rem, 1fr) minmax(9rem, 1fr) 16rem 2fr 3rem;
    background-color: #f6f8fb;
}

.cell {
    border-left: 2px solid rgb(var(--venia-global-color-gray));
    padding: 1rem;
    overflow: hidden;
}

.stackedCell {
    composes: cell;
    display: grid;
    row-gap: 0.25rem;
    overflow: inherit;
}

.label {
    font-size: var(--venia-typography-body-XS-fontSize);
}

.value {
    font-weight: var(--venia-global-fontWeight-bold);
}

.orderNumberContainer,
.orderDateContainer,
.orderTotalContainer {
    composes: stackedCell;
}

.orderStatusContainer {
    composes: stackedCell;
    row-gap: 0.75rem;
}

.orderItemsContainer {
    composes: cell;
    padding: 0;
}

.contentToggleContainer {
    composes: cell;
    padding: 0;
}
.contentToggleContainer span svg {
    stroke: var(--orienteed-global-color-orange);
}

.orderNumberLabel,
.orderDateLabel,
.orderTotalLabel {
    composes: label;
}

.orderNumber,
.orderDate,
.orderTotal {
    composes: value;
}

.orderStatusBadge {
    composes: label;
    font-weight: var(--venia-global-fontWeight-bold);
    justify-self: flex-start;
    font-size: 15px;
    padding: 0.25rem 1.25rem;
}

.content {
    border-top: 2px solid rgb(var(--venia-global-color-gray));
    grid-column: 1 / -1;
    padding: 1.5rem;
}

.content_collapsed {
    display: none;
}

.orderInsurancesButton {
    composes: root_normalPriority from '@magento/venia-concept/src/components/Button/button.module.css';
    border: 0;
    color: var(--orienteed-global-color-orange);
    font-weight: 500;
    font-size: 16px;
    gap: 0.3rem;
}

.orderDateContainer {
    gap: 1rem;
}

@media (max-width: 960px) {
    .root {
        grid-template-columns: 1fr 1fr;
    }

    .cell {
        border-left: none;
        padding: 0.5rem;
    }

    .contentToggleContainer {
        grid-column-start: 2;
        grid-row-start: 1;
        justify-self: flex-end;
        padding: 0 1.5rem;
    }

    .orderStatusContainer {
        grid-column-end: span 2;
    }

    .orderItemsContainer {
        border-bottom: 2px solid rgb(var(--venia-global-color-gray));
        grid-column-end: span 2;
        padding: 1rem 0;
    }

    .orderItemsContainer:empty {
        display: none;
    }

    .orderNumberContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    .orderDateContainer {
        border: 2px solid rgb(var(--venia-global-color-gray));
        border-left: none;
    }

    .orderTotalContainer {
        border-bottom: 2px solid rgb(var(--venia-global-color-gray));
        border-top: 2px solid rgb(var(--venia-global-color-gray));
    }
}
