.container {
    position: fixed;
    min-width: 100%;
    display: grid;
    grid-row-gap: 1rem;

    /* Necessary to display over page contents */
    z-index: 6;

    /* Show toasts on bottom of screen */
    bottom: 0px;
    margin-bottom: 1rem;
}
