.root {
    composes: gap-x-2xs from global;
    composes: inline-flex from global;
    composes: items-center from global;
    composes: min-w-[3rem] from global;
}

.root_selected {
    composes: root;

    --selectedColor: var(--orienteed-primary-color-base1);
    --fill: var(--selectedColor);
    --stroke: var(--selectedColor);

    composes: no-underline from global;
}
