.root {
    display: grid;
    gap: 0.5rem;
    justify-items: stretch;
    padding: 0 1.5rem;
}

.actions {
    display: grid;
    justify-items: center;
    margin-top: 1rem;
    padding: 1rem 0;
}

.error {
    color: rgb(var(--venia-error));
    text-align: center;
}

.lead {
    margin: 1rem 0;
    text-align: center;
}

.subscribe {
    margin-left: -0.5rem;
}
