.root {
  margin: 5rem 1rem;
  text-align: center;
}

.title {
  font-size: 5rem;
}

.logo {
  height: 4rem;
  vertical-align: top;
}

.message {
  margin: 1rem 0;
}

.actions {
  color: rgb(var(--venia-teal));
}
