.root {
    display: grid;
    gap: 2rem;
    grid-template-columns: 100%;
    margin-bottom: 4rem;
}

@media (min-width: 768px) {
    .root {
        grid-template-columns: repeat(2, calc(50% - 1rem));
    }
}

.figure {
    background-color: rgb(250 250 250);
    border-radius: 4px;
    min-height: 10rem;
    padding: 3rem 5rem;
}
